[2011-10-06 08:58] CkReal opened #1 "fluentから、Amazon S3への書き込み方法について"
初めまして、CkRealこと本間と申します。
現在、fluentを試験的に使っています。

fluentからAmazon S3への書き込みテストを行った際にエラーを発生したので、
どなたか心当たりがある方がいれば、ご教示いただけないでしょうか。
# 転送先サーバから転送元サーバへのローカルファイル転送までは確認できています。

以下、試験環境とスタックトレースになります。

■試験環境
AWS上で、以下のサーバ構成でテストを行なっています。
転送元サーバのアクセスログを転送先サーバに送信した後、
Amazon S3に書きこもうとしています。

【転送元サーバ】
OS：CentOS5.6
Apache：2.2.3
fluent：0.9.18

□設定ファイル
[source]
  type tail
  format apache
  path /var/log/httpd/【アクセスログ名

[2011-10-06 11:10] #1 closed, assigned to nobody

[2011-11-21 06:16] ume3 opened #4 "Amazon S3のendpointの指定について"
はじめまして。
1週間前ほどからfluent-plugin-s3に興味をもって検証させていただいているものです。
報告させていただきます。
※　不慣れなもので、記述場所にあやまりがあれば、消去のほどよろしくお願いします。

導入予定かもしれませんが、
・s3_endpointの指定
についてご確認させていただきます。

こちらは、aws-sdkにて記述を検討が前提なのか、
それとも、下記のように設定ファイルに埋め込むことを予定されていますでしょうか？

バージョン：fluent-plugin-s3 (0.2.1)
対象ファイル：https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb

■　end_point差し込みのイメージ

<pre><code>

# diff -u /tmp

[2011-12-16 05:10] #4 closed, assigned to nobody

[2012-11-12 23:54] kzk opened #6 "Add Snappy Compression"
The backplane ( http://thebackplane.com/ ) team asked me to add Snappy compression feature to this plugin.

[2012-12-05 23:01] kzk opened #9 "Remove time and tag within S3 file"
.@x0jellio requested me that they only want JSON per line at S3 file, doesn't want to have tag and time within a same line. This is pretty reasonable and got the same inquiry from multiple users.

So we could introduce the option, to remove time and tag from S3 file and dump only JSON (maybe json_only or record_only?)

[2012-12-06 08:34] #9 closed, assigned to repeatedly

[2013-01-22 18:13] pitr opened #14 "Add format_csv"
A lot of AWS tools (EMR, RedShift) work really well with CVS files stored in S3. Would it make sense for me or my colleague @dterror to open a pull request adding support for CSV in addition to json?

[2013-02-15 07:21] #14 closed, assigned to repeatedly

[2013-03-28 08:28] m-masaki opened #25 "Enable it to use by "riak-cs""
It is made to want you to be able to set up the following option so that "riak-cs" can also be used.

use_ssl
proxy_uri

Moreover,

It becomes "aws_key_id or aws_sec_key is invalid. Please check your configuration" by "check_apikeys."

Since it is satisfactory, "aws_sec_key" and "aws_sec_key" have been commented out.

[code]

ps
英語が苦手なので、日本語でも。
要はriak-csにも送れる様にオプション2つ（use_sslとproxy_uri）をconfigで設定で

[2013-04-07 02:23] #25 closed, assigned to repeatedly

[2013-05-08 03:16] tkawachi opened #26 "check_apikeys fails when limiting permission to a sub directory"
It causes an exception when it is limited to read/write to a certain sub directory. Following permission setting allows us to limit IAM user to read/write under `sub_dir/`. It is useful to let multiple IAM users write under a same bucket.

[code]

From v0.3.0, `check_apikeys` uses `@bucket.empty?`. I suppose it lists a top of a bucket, then causes an exception.

[code]

Removing `check_apikeys` wi

[2013-06-26 10:03] #26 closed, assigned to nobody

[2013-07-11 03:04] sgessa opened #31 "Tags in Object Key"
is it possible to have tags in the object key?

[2013-10-15 02:24] gaia opened #34 "What are the minimum permissions on S3 policy?"
I want to attach the most restrictive policy possible to the key used by the plugin. I have this fairly restrictive policy in place, and it seems to work.

Am I missing any actions that I should allow?

Are there any actions I can remove from the list below?

`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:AbortMultipartUpload",
        "s3:CreateBucket",

[2013-10-18 02:48] #34 closed, assigned to ijin

[2013-12-07 00:00] foobarnum opened #37 "hyphen in bucket name breaks check_apikeys"
Ran across this when using the plugin for the first time:

Bucket named foo-bar would cause the following error:

2013-12-06 23:32:25 +0000 [error]: fluent/engine.rb:218:rescue in run: unexpected error error_class=RuntimeError error=#<RuntimeError: aws_key_id or aws_sec_key is invalid. Please check your configuration>

coming from:

 def check_apikeys
    @bucket.empty?
  rescue
    raise "aws_key

[2013-12-07 00:46] #37 closed, assigned to nobody

[2014-02-19 08:37] josephsu opened #39 "Add xz / LZMA2 compression"
xz has higher compression ratio than gzip and is also chosen by linux kernel team for distributing source code. It's suitable for archive purpose.

The "xz" spec is located at http://tukaani.org/xz/xz-file-format.txt.

In terms of compression tool, xz and p7zip are available to most platforms. p7zip compresses faster because it can make use of multiple cores.

[2014-03-06 10:10] #39 closed, assigned to nobody

[2014-05-04 23:36] repeatedly opened #45 "Add IAM policy example to README"
@ijin Could you handle this?
Related to this post on Fluentd ML > https://groups.google.com/forum/#!topic/fluentd/_853gJrs7uY

[2014-05-09 09:56] #45 closed, assigned to ijin

[2014-07-10 13:51] jbasko opened #48 "td-agent won't stop if a file for the corresponding time slice has already been uploaded to s3"
I'm experiencing a problem when using td-agent 1.1.20 (rhel package on Amazon Linux); didn't try on earlier versions so not sure if that's relevant.

The problem is if there is a file in `buffer/` directory for a time slice for which a file has already been uploaded to s3 then I can't stop td-agent anymore - the shutdown handlers time out (even when changing STOPTIMEOUT in `/etc/sysconfig/td-agent

[2014-10-10 06:55] #48 closed, assigned to nobody

[2014-10-16 02:04] ajturner opened #51 "fluentd fails to start because "uninitialized constant Fluent::S3Output::AWS""
Installing fluentd using Chef on AWS OpsWorks using [gh://dmytro/fluentd-cookbook](https://github.com/dmytro/fluentd-cookbook)

I get the following error on startup:

[code]

It appears there is an issue loading the AWS gem - looking at other issues they often recommend: `gem 'aws-s3', :require => 'aws/s3'`
## Gems

[code]

[2014-10-21 19:05] #31 closed, assigned to nobody

[2014-10-25 12:53] dieend opened #52 "Invalid AWS Credentials"
I am using td-agent version 2.1.0-0 which automatically uses plugin out-s3 v0.4.1.
I get this strange error where it says my credentials is invalid. I'm sure I've set my profile instance to allow all S3 access. It's still failed. I then set aws_key_id and aws_sec_key, and I've recheck and recheck to make sure it's corrent, but still td-agent can't startup successfully, saying aws_key_id or aws_sec

[2014-10-28 11:24] nick-peskett-bbc opened #54 "Optional zero padding for index field"
I'm running into problems with an installation which is using a daily time_slice_format and uploading a flush_interval of 5 minutes.

The problem is due to the only sorting available with GET Bucket (List Objects) being alphabetical.

http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html

I'd very much like to use the marker feature when listing the objects in the bucket, but (for exam

[2014-11-20 21:59] jmoseley opened #58 "Provide ability to integrate tag or event attributes in s3_object_key."
I am rebuilding an existing log system with a new implementation using fluentd, and for legacy reasons it would be helpful to integrate either the tag (I can build a tag using the rewrite-tag plugin) or event attributes as part of the s3_object_key or path, so I have more control over the name under which the object is stored.

Thanks.

[2014-11-20 22:01] jmoseley opened #59 "Add bz2 storage option."
We currently store our logs bz2 compressed, I was hoping to be able to do the same when we switch to fluentd.

Thanks

[2014-11-22 18:39] #52 closed, assigned to nobody

[2014-11-22 18:40] #51 closed, assigned to nobody

[2014-12-04 04:37] #59 closed, assigned to nobody

[2014-12-05 03:45] masaomoc opened #60 "'auto_create_bucket' does not seem to work."
In my Linux server, I installed td-agent 1.1.21 and fluent-plugin-s3-0.4.1 which is installed with td-agent.
My td-agent.conf is like below:
[code]
and I expected the S3 bucket to be created because ```auto_create_bucket``` is set default to true. But td-agent raised an error and td-agent.log show below errors:
[code]

I'm runnning this server on EC2 and setting S3Admin IAM Role so apikeys are cor

[2014-12-06 12:52] repeatedly opened #61 "Pluggable compresson for user specific algorithm"
Base class is below:

[code]

Use Fluent::Registry to register new algorithm with `fluent/plugin/s3_compress` prefix.

[2014-12-07 13:25] #61 closed, assigned to repeatedly

[2014-12-07 14:07] #6 closed, assigned to nobody

[2014-12-15 00:17] #58 closed, assigned to nobody

[2015-02-04 09:11] kzk opened #64 "Support external command compression for gzip"
We have a couple of customers hitting CPU saturation. By having gzip compression as an external command, they could use multiple cores efficiently without having multi process plugin.

[2015-02-05 02:22] repeatedly commented on #64
This is the patch: https://github.com/fluent/fluent-plugin-s3/pull/65

[2015-02-05 02:29] repeatedly commented on #64
Merged.

[2015-02-05 02:29] #64 closed

[2015-02-05 02:34] repeatedly commented on #60
Forgot to close this issue.

[2015-02-05 02:34] #60 closed

[2015-02-07 17:24] j-o-s-h opened #66 "Add Support for x-amz-server-side-encryption"
Add support for the `x-amz-server-side-encryption` header on `PUT` to enable [SSE-S3](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html).

[2015-02-08 00:16] LanceNorskog opened #67 "Add support for ${} substitution"
We have set up all of our plugins to use environment variables for configuration items. The s3 plugin does not support this syntax:

aws_api_key #{ENV['AWS_API_KEY']}

[2015-02-08 01:59] kiyoto commented on #67
Lance-

Can you try doing

[code]

(Note the double quotes)

[2015-02-08 02:33] kiyoto commented on #67
Also, I updated the docs's faq > https://github.com/fluent/fluentd-docs/commit/6e5dd3d

[2015-02-10 01:32] repeatedly commented on #67
You can use --use-v1-config. This is not fluent-plugin-s3 issue.

[2015-02-10 01:32] #67 closed

[2015-02-10 01:35] repeatedly commented on #66
Could you send a PR?

http://docs.aws.amazon.com/AmazonS3/latest/dev/SSEUsingRubySDK.html

From this document, adding only one option enables SSE.

[2015-02-11 00:57] LanceNorskog commented on #67
Yes, this works:
    aws_api_key "#{ENV['AWS_API_KEY']}"

I have not needed double-quotes in other plugins. I'm using td-agent with --use-v1-config.
(Your example has 3 single quotes and one double. Keyboard-complete is so hard to get right :)

[2015-02-12 00:29] repeatedly commented on #67
You mean `${}`, not `"#{}"`, right?
`${}` is parsed by plugin itself but `"#{}"` is parsed by fluentd configuration parser.
non-quoted string is for writing string without escape so "" is needed for evaluating Ruby code.

[2015-02-12 02:02] alexanderoot commented on #66
PR submitted here - https://github.com/fluent/fluent-plugin-s3/pull/68

[2015-02-12 02:10] #66 closed

[2015-02-12 03:51] LanceNorskog commented on #67
Thanks, that makes sense.

[2015-02-17 12:58] edjames opened #69 "Support for aws-sdk 2.x"
Hi

Any plans to add support for the 2.x version of the aws-sdk?

[2015-02-17 14:49] repeatedly commented on #69
If someone sends a PR.
I was tired from adapting v2 before: https://github.com/fluent/fluent-plugin-s3/issues/51#issuecomment-59319299

[2015-02-17 14:50] edjames commented on #69
Ok, I'll do it when I get some time. Thanks.

[2015-02-17 14:50] #69 closed

[2015-02-27 04:09] ryushu opened #71 "Not flush some of the buffer files when using with in_multiprocess plugin"
I'm using fulent-plugin-s3 with in_multiprocess and my aws instance have 4 core.
One of child process works fine but rest of 4 fluent-plugin-s3 not flush buffers.
Although I am not familiar with this plugin and I dont know if its not only fluent-plugin-s3 issue but in_multiprocess,
Its only happen to fluent-plugin-s3. Other plugin like out_mongo works fine.

This is my environment and config files

[2015-02-27 14:01] repeatedly commented on #71
What does "fluent-plugin-s3 not flush buffers" mean?
Send USR1 signal but not flush? or passes 1 hour but not flush?

BTW, td-agent-child-1.conf and td-agent-child-2.conf have only input plugin configuration.
It doesn't process received logs.

And you should not use same buffer_path between fluentd instances. It may cause race condition.

[2015-03-02 14:01] ajohnstone opened #72 "s3 input plugin?"
Is there any intention to also consume the logs that that this writes as an input plugin?

[2015-03-02 16:51] ajohnstone opened #73 "Logs are never shipped to s3? version 0.5.6"
Logs are never shipped to s3? Write never seems to be called? Any pointers whats wrong?

[code]

fluent configuration
[code]

logs are being initialised
[code]

Permissions correct on IAM role.
[code]
docker.all has logs written
[code]

[2015-03-02 17:19] repeatedly commented on #73
Do you wait one hour?

[2015-03-02 17:22] repeatedly commented on #72
Currently, there is no input plugin plan because user-case seems rare.
If someone write good plugin, I can adopt it.

[2015-03-02 17:25] ajohnstone commented on #73
Is there an option to flush sooner? I've been probably restarting the process sooner than one hour?

[2015-03-02 17:30] repeatedly commented on #73
See following documents. Send signal or change buffer parameters.

http://docs.fluentd.org/articles/signals
http://docs.fluentd.org/articles/buffer-plugin-overview#time-sliced-plugin-overview

[2015-03-03 01:48] ryushu commented on #71
"fluent-plugin-s3 not flush buffers" mean passes 1 hour but not fush.

Its just mistake.
In fact td-agent-child-1.conf and td-agent-child-2.conf also have include path.
Sorry about that.

I will try the separate buffer_path and report it.

[2015-03-03 05:32] repeatedly commented on #71
To separate the problem, test plugin without in_multiprocess is better.

[2015-03-03 07:00] repeatedly commented on #73
Close this issue.

BTW, if you have a question, please use mailing list first: https://groups.google.com/forum/#!forum/fluentd
Mailing list is better than github issue. This issue is mainly for reporting a bug or feature suggestion.

[2015-03-03 07:00] #73 closed

[2015-03-03 10:43] ajohnstone commented on #73
I was already running this and reloading with SIGHUP as it was the root process in a docker container.
I've used SIGUSR1 and also waited over night for the logs to be flushed. Nothing has been written, however it has to the file plugin. I've added additional debugging to the plugin and this is why I raised as a ticket here. I never see the write method called.

Any other pointers?

[code]

[2015-03-03 14:10] ajohnstone commented on #73
I've also tried this from the documentation... and still to no avail

[code]

[2015-03-03 14:18] repeatedly commented on #73
Ah, wait. I found the cause.
You should use out_copy plugin for this case.
See: http://docs.fluentd.org/articles/config-file#match-order

[2015-03-03 15:24] ajohnstone commented on #73
@repeatedly  That solved it. Thanks for your help Masahiro, much appreciated. :+1:

[2015-03-03 20:20] ryushu commented on #71
Setting different buffer_path of each child process works fine so far.
Thanks for helping !

[2015-03-03 22:00] repeatedly commented on #71
Good to hear!

[2015-03-03 22:00] #71 closed

[2015-03-10 10:38] gerricchaplin commented on #69
Hi guys,
Has anyone had any further time to look into this?
Thanks.

[2015-03-10 11:23] edjames commented on #69
Hey, I'm still planning to try this. I've now started a work project using Fluentd and now have the time and motivation to do it. If/when I have a working fork I'll raise a PR.

[2015-03-31 00:15] yhidai opened #75 "Configuration for S3 compatible service"
Would you mind checking s3_endpoint configuration for S3 compatible service ?
I got this error message below  when I tried to transport log files to RiakCS via fluent-s3-plugin.

015-03-30 15:36:45 +0900 [error]: unexpected error error_class=AWS::S3::Errors::InvalidAccessKeyId error=#<AWS::S3::Errors::InvalidAccessKeyId: The AWS Access Key Id you provided does not exist in our records.>
2015-03-30

[2015-03-31 02:33] repeatedly commented on #75
Hmm... maybe aws-sdk-ruby removes `endpoint` parameter from core configuration.
I will fix this later.

[2015-03-31 03:19] repeatedly commented on #75
@yhidai Could you also check this patch? https://github.com/fluent/fluent-plugin-s3/pull/76

[2015-03-31 04:24] yhidai commented on #75
Thank you for your quick response.
I tried patch#76, and I could solve this issue.
Thanks!

[2015-03-31 04:24] #75 closed

[2015-04-27 14:54] jimwal commented on #69
Hi, Is anyone making any progress on this? Cheers.

[2015-04-27 15:20] edjames commented on #69
Hi. It's still on my radar but I'm too busy at work to do this right now.
I cannot commit to doing anything right now unfortunately, so please don't rely on me.

I've also changed my workflow so this is not such a priority for me at this point.
Sorry.

[2015-06-04 11:00] papiveron opened #78 "Check if logs are sent to s3"
Hi,

Please can some one tell me how to check if fluentd is really sending logs to s3? Is this done once fluentd receives input logs like for ES and file type?
What is the interval for fluentd to send log to s3? At minight? Instantly?

Here is my configuration :

		<match nginx.api1.mydomain.error.*>
		    type copy
		    <store>
			type file
			path /var/log/td-agent/nginx-api1.mydomain-error.log

[2015-06-04 12:41] repeatedly commented on #78
This is described by documents.
See below:

http://docs.fluentd.org/articles/out_s3
http://docs.fluentd.org/articles/buffer-plugin-overview#time-sliced-plugin-overview

[2015-06-04 12:58] papiveron commented on #78
Thank you,

It's working. I'll do further reads to understand fine how the slice works.

Regards.

[2015-06-08 17:24] #78 closed

[2015-06-08 21:03] ghicks-rmn opened #80 "Plugin needlessly requires ListBucketVersions permission"
[code]

This code attempts to run "bucket.empty?" after initializing an S3 connection, ostensibly to check whether the plugin can successfully access the bucket.

What `bucket.empty?` actually does is perform a `ListBucketVersions` call, and returns a boolean depending on whether there were any records in the response.  As a result, the plugin effectively requires permissions to run `ListBucketVer

[2015-06-08 21:27] ijin commented on #80
I don't know if I would consider it *needlessly*. That's just the way the aws sdk implements bucket availability, as you've discovered. But thanks for digging through and pointing this out.

Pull requests are always welcome. :grinning:

[2015-06-08 21:39] ijin commented on #80
Looks like I answered this some time ago. https://github.com/fluent/fluent-plugin-s3/issues/34
(Code has changed, so not everything might be fully relevant)

[2015-06-09 14:24] ghicks-rmn commented on #80
First, a correction/clarification: The `ListBucketVersions` permission is only *required* if `check_apikey_on_start` is true. It looks like the SDK returns true if `bucket.exists?` fails due to AccessDenied, which is ultimately the behavior I want - if it can't tell whether the bucket exists, it should assume that it does and try to write to it. I haven't tested but it looks like `ListBucketVersio

[2015-06-09 17:15] ijin commented on #80
Yes, I understand that `ListBucketVersions` is required for `check_apikey_on_start`, as I have pointed out in #34.

AFAIK, `bucket.exists?` returns `true` if an AccessDenied is returned (meaning the existence is verified by a denial error), so it's not using permissions at all. I believe what you're describing is covered by `ensure_bucket`.

http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/S3/Buck

[2015-06-15 16:30] edjames opened #84 "Split S3 files by date"
Hi

Is it possible to split S3 logfiles by date?

I want each S3 logfile to only contain events that occur during a specified time period (e.g. the same day). This would make it very easy to grab all my data for a specific day for processing (or re-processing).

Thanks,
Ed.

[2015-06-15 16:32] edjames commented on #84
Further to this, I have read the docs here: http://docs.fluentd.org/articles/out_s3

I need to know how accurate this time-slicing is and whether I can rely on a time-slice no not cross the date line between calendar days. Under heavy load is this accurate and reliable?

[2015-06-15 20:15] repeatedly commented on #84
Time slice is based on event time.
On `time_slice_format %Y%m%d`, "Tues, June 15 2015" time event is stored into "20150615".
So it should not be immune to heavy load.

[2015-06-16 08:04] edjames commented on #84
So if I understand this correctly, if I'm time-slicing by day, then an event are you saying 2 events from different days will never be in the same log file i.e. every log file will contain events only from the same day?

Also, could you explain what you mean by this: `So it should not be immune to heavy load.`

Many thanks.

[2015-06-16 11:23] repeatedly commented on #84
Exactly.

I assume you worry about the system generates wrong timestamp and fluentd uses it on heavy load environment.

[2015-06-16 11:57] edjames commented on #84
That's great, thanks.

[2015-06-25 05:46] #84 closed

[2015-07-30 08:53] papiveron opened #89 "Insert time variable in the s3_object_key_format"
Hi,

Please, is there a **time** variable for **s3_object_key_format**?
I would to get log in my bucket in folder per **year**,; **month**, **day_of_month**, and a file name containing the **time** and file extension. This is my configuration :

[code]

As you can see above, I added forward slashes (**"/"**) between the time silice format field, to separate them in directories. But is like the **%

[2015-07-30 09:01] papiveron commented on #89
This is exactly what I want as result for example:

[code]

And then a file inside generated to day will have this name :
[code]

Thanks again for helping.

[2015-07-30 09:13] repeatedly commented on #89
No way. If you want to generate such specific path,
extending s3 plugin is better.

[2015-07-30 09:21] papiveron commented on #89
Hi   @repeatedly I don't understand what you mean by extending s3 plugin please. Can you be more clear? Do you mean modify the code source?

Thanks

[2015-07-30 10:01] repeatedly commented on #89
No. Writing new plugin based on S3Output.

http://docs.fluentd.org/articles/plugin-development
http://docs.fluentd.org/articles/plugin-management

[2015-07-30 10:36] papiveron commented on #89
Ok,

I will  have a look at this. But it means I have to use the s3Ouput plugin for development.

THANKS

[2015-07-30 13:39] #89 closed

[2015-07-30 14:28] papiveron commented on #89
@repeatedly, I saw you close the ticket.

But please instead of writing my own plugin, Do you thing I can play on the **time_sliced_format** variable to have something just like **2015/07/30** ? If so how can I achieve this? How can I escape the forward slashes? Because **%Y/%m/%d** doesn't work, I don't know if I can use backward slashes (**%Y\/%m\/%d**).

Best regards.

[2015-07-30 14:44] repeatedly commented on #89
What does ` %Y/%m/%d doesn't work` mean?
It seems work.

[code]

![s3 result](http://i.gyazo.com/4eb836dfae17105b5d35d01d803f1a35.png)

[2015-07-30 14:52] papiveron commented on #89
Ah that's good,

Maybe I didn't wait enough as logs are buffered before being send to s3. In fact I don't see my logs in s3 while seeing them in buffer file, and thought it was not working.

At the fluentd client/forwarder side, there is a **flush_interval** variable. How can I test my plugin is outputing I expected at the server side please? Thanks.

Thank you for your screenshot example. I will

[2015-07-30 15:24] papiveron commented on #89
Sorry,

I saw there is a **flush_interval** in s3 plugin parameter too. Apologises, Let me try on my way.

Regards.

[2015-07-30 15:33] papiveron commented on #89
It Works with this s3_object_key_format value :

[code]
The only issue now is that my log file has the name : **stats_log-%H:%M:%S_0.gz**

I'm trying to see how to substitute time variable.

Regards.

[2015-07-30 16:13] papiveron commented on #89
I got it !!!!

This i what I did :
[code]

And it works !!!

Hope it could someone else.

Thanks a lot @repeatedly

Regards.

[2015-07-30 16:45] repeatedly commented on #89
Ah, I didn't come up with this idea.

Note that fluentd's TimeSlicedOutput, S3 plugin uses it, separates buffers by time_slice_format.
In this configuration, fluentd creates lots of buffer because `time_slice_format` has `%S`.
So memory usage or IO cost may be increased but I assume this is not problem on non high-loaded environment.

[2015-07-31 08:08] papiveron commented on #89
Ah thank you,

I will remove seconds in **time_slice_format**, this is a good information to know.

Is there a sort of fluentd best practices book or something like that?

Thanks.

Regards,

[2015-08-06 06:02] hitochan777 opened #92 "Flushing the buffer fails with AWS::S3::Errors::Forbidden"
Whenever there already exists a file in the s3, fluentd fails to flush the buffer with the following error message.

    2015-08-06 13:39:01 +0900 [warn]: temporarily failed to flush the buffer. next_retry=2015-08-06-13:39:17 +0900 error_class="AWS::S3::Errors::Forbidden" error="AWS::S3::Errors::Forbidden" plugin_id="object:3fa6da00f774"
    2015-08-06 13:39:01 +0900 [warn]: suppressed same stackt

[2015-08-07 05:43] repeatedly commented on #92
I'm not sure because I can't reproduce this problem.
Maybe, your S3 setting is something wrong for object check API.

[2015-08-07 16:41] edjames opened #93 "aws-sdk version 2 support?"
Hi

Are you planning on upgrading the gem to support version 2 of the aws-sdk?

Thanks,
Ed.

[2015-08-07 16:58] repeatedly commented on #93
We need testers: https://github.com/fluent/fluent-plugin-s3/pull/85

[2015-08-10 11:59] hitochan777 commented on #92
![s3](https://cloud.githubusercontent.com/assets/6002787/9170887/c5a9e0d8-3fa1-11e5-96e0-4c153bcf7bf3.jpeg)
What I did was just adding Access Control List (ACL) as above.
I gave the permission to list, upload and delete resources to the authenticated users (who have correct AWS_KEY_ID and AWS_SEC_KEY) but this didn't work.
If I add a bucket policy instead, it worked fine. I don't know why ACL does

[2015-08-14 15:10] Viktor86 opened #94 "s3_object_key_format variable assigments"
Hi,

want to create logs like
path/current_date/current_time.gz  with every hour file creation

we have time_slice, but what I need to set on current_date ?
s3_object_key_format %{path}/%current_date/%{time_slice}.%{file_extension}

time_slice_format %Y%m%d-%H

please help

[2015-08-14 15:34] repeatedly commented on #94
No straightforward way. See: https://github.com/fluent/fluent-plugin-s3/issues/89
or use `uuid_flush` if you want to guarantee unique file.

[2015-08-24 10:38] riquito commented on #80
An improvement would be to add it in the documentation, I had an hard time to understand what was happening ("access denied, check your aws key/secret/region" sidetracked me). Maybe a list of the IAM permissions required.

[2015-08-25 13:10] repeatedly commented on #80
It seems good idea.

@ijin example on https://github.com/fluent/fluent-plugin-s3/issues/34#issuecomment-26567229 is minimal configuration? Should we write more example like MultiUpload?

[2015-09-04 13:06] Yanson opened #95 "REQ: Object expiry"
I would like to be able to set an expiry time / TTL on the files uploaded to S3.

This should be a straightforward passthrough of a config like is done for reduced_redundancy.

Thanks.

[2015-09-10 05:17] repeatedly commented on #94
Close. see previous comment.

[2015-09-10 05:17] #94 closed

[2015-09-10 05:49] repeatedly commented on #95
Could you send a patch?
If not, could you point ruby reference here?

[2015-09-11 08:14] Yanson commented on #95
I've looked into this but it seems I've misinterpreted the docs. The 'expires' setting is for caching not TTL: http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Object.html

It would be possible to add a TTL which is managed by the bucket lifecycle, but I think that is beyond the scope of this plugin.
http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/BucketLifecycle.html

Cheers.

[2015-09-11 08:19] repeatedly commented on #95
I see. Close this issue.

[2015-09-11 08:19] #95 closed

[2015-09-11 08:20] repeatedly commented on #93
I release 0.6.0.pre1 which uses AWS SDK v2.
We need testers but this issue is resolved.

[2015-09-11 08:20] #93 closed

[2015-09-11 08:28] edjames commented on #93
Great, thanks.

[2015-10-01 04:34] okkez commented on #72
@ajohnstone  I'm trying to implement input plugin #105
If you want this input plugin, you can try #105 and comment, please.

[2015-10-09 04:54] timesking opened #108 "hex_random do not work in 0.6.0pre1"
I got a empty string with %{hex_random}

[2015-10-09 05:04] repeatedly commented on #108
Because 0.6.0pre1 doesn't have hex_random.

[2015-10-09 05:04] #108 closed

[2015-10-09 05:08] timesking commented on #108
Could you organize version with github milestone feature?
That helps me to understand which will added into which version.

[2015-10-09 05:31] repeatedly commented on #108
We have changelog so it describes when features are implemeneted.

https://github.com/fluent/fluent-plugin-s3/blob/master/ChangeLog

I'm not familiar with the detail of milestone features.
Milestone fits for hex_random like small enhancement?
I know some big changes are organized by milestone.

[2015-10-09 05:34] repeatedly commented on #108
BTW, we should separate commits into feature implementation and document update.

[2015-10-13 10:56] edjames opened #109 "Config interpolation no longer working"
Hi

Since upgrading to 0.6.0 I've had to update my config files because the interpolation has suddenly stopped working.

I used to have this:
[code]

These were both set in the `/etc/environment` file and were working perfectly with version 0.5.11. I only upgraded to 0.6.0 and restarted my td-agent service, and then got this log trace:

[code]

It's not a huge issue but unexpected.

Thanks,
Ed.

[2015-10-13 12:00] repeatedly commented on #109
It works for on my environment.
Maybe, aws-sdk v2 changes a behaviour and it causes this problem.
Hmm, do you use `us-east-1` region?

[2015-10-13 12:03] edjames commented on #109
Yes, I actually push to 2 regions: `us-east-1` and `eu-west-1`

[2015-10-13 12:07] repeatedly commented on #109
Does this happen for `us-east-1` setting?

https://github.com/fluent/fluent-plugin-s3/blob/e0c05208783fe6010ffbe8ef82e6755ee0fceaad/lib/fluent/plugin/out_s3.rb#L44

By default, if there is no `AWS_REGION` env, `us-east-1` is used.

[2015-10-13 12:22] edjames commented on #109
I'm explicitly setting the region in the config files. I have 2 store config blocks setup, one for each S3 region. Behaviour is the same for both.

If this is working on your env I will try again and make sure I'm not doing anything stupid :)

[2015-10-13 19:18] BDuelz opened #110 "Other 's3' plugin already use same buffer_path"
Using the copy output plugin, I get this error `[error]: config error file="/etc/td-agent/td-agent.conf" error="Other 's3' plugin already use same buffer_path: type = s3, buffer_path = /tmp/fluent-plugin-s3"`

Here's my config.

[code]

Not sure if this is an issue with this plugin or fluentd (or if I should be posting this here either way), but I can't use either without the capability of sending

[2015-10-13 19:28] repeatedly commented on #110
Is this a entire configuration? Could you paste the log of fluentd/td-agent?

[2015-10-13 19:34] BDuelz commented on #110
[code]

[2015-10-13 19:36] BDuelz commented on #110
The error itself is raised in [fluentd](https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/buf_file.rb#L110)

[2015-10-13 19:38] BDuelz commented on #110
Also, I want to say, if I don't use the copy output plugin, things work as expected:

[code]

However, I **need** to be able to send logs to multiple locations.

[2015-10-13 21:12] repeatedly commented on #110
I tested `s3` and `copy` and it worked. In addition, many users use `s3` and `copy` so this combination should not be a problem.

Above configuration is your entire configuration?
If you use same buffer_path configuration across `<match>`, this error happens. Error configuration example is below.

[code]

[2015-10-13 21:28] BDuelz commented on #110
You're totally right. I was using the same `buffer_path` in multiple config files. It works now.

Sorry to waste your time.

Cheers

[2015-10-13 21:28] #110 closed

[2015-10-15 14:03] edjames commented on #109
Strangely this now seems to be working fine again. For the life of me I cannot see what was wrong and I can no longer replicate this either.

Thanks for responding anyway.

[2015-10-15 14:03] #109 closed

[2015-10-15 14:16] repeatedly commented on #109
Good to hear :)

[2015-10-21 05:34] TakahikoKawasaki opened #113 "Time-based variables on s3_object_key_format whose granularity is different from time_slice_format"
How can I specify time-based variables on `s3_object_key_format` whose granularity is different from `time_slice_format`? For example, when `time_slice_format` is `%Y%m%d-%H`, how can I create a directory structure like below?

    YYYY/MM/DD/%{time_slice}_%{index}.log.gz

I want to create a directory per year/month/day whatever the value of `time_slice_format` is.

[2015-10-21 05:37] repeatedly commented on #113
There are no way for now.
The easist way is implementing your S3 plugin based on `S3Output`.

[2015-10-21 05:47] TakahikoKawasaki commented on #113
I actually did it before in a certain project, and now I want to do the same thing in another project. This is just a guess, but I think other people in the world want to do the same thing, too. Has this feature been discussed in fluentd community so far?

[2015-10-21 05:59] repeatedly commented on #113
Some elasticsearch users want similar feature > https://github.com/uken/fluent-plugin-elasticsearch/pull/127

[2015-10-21 06:36] sonots commented on #113
@TakahikoKawasaki Not tried, but `time_slice_format %Y/%m/%d/%Y%m%d-%H` with `%{time_slice}_%{index}.log.gz` does not work?

[2015-10-21 06:53] TakahikoKawasaki commented on #113
@sonots Thank you very much. It worked!

[2015-10-21 06:53] #113 closed

[2015-10-21 23:40] diclophis opened #114 "ArgumentError: invalid configuration option `:s3_server_side_encryption'"
Hello, we are getting this error in our `td-agent.log`

    2015-10-21 23:35:28 +0000 [error]: unexpected error error_class=ArgumentError error=#<ArgumentError: invalid configuration option `:s3_server_side_encryption'>

The relevant line of config is...

    <store>
      use_server_side_encryption aes256
    </store>

Any advice / guidance / fixes would be helpful

[2015-10-23 15:05] repeatedly commented on #114
It seems use_server_side_encryption is removed accidentially.
Please wait.

[2015-10-23 15:37] repeatedly commented on #114
Ah wait. The problem is server_side_encryption is moved from constructor to each operation.

[2015-10-23 15:42] repeatedly commented on #114
@diclophis I wrote a patch. Could you test it?

[2015-10-23 17:31] diclophis commented on #114
@repeatedly Thanks for the quick update, we will look into the issue here shortly, I am uncertain as to how to install the specific version of the gem via `td-agent-gem install ...` Do you have a guideline for that?

[2015-10-24 09:49] repeatedly commented on #114
One idea is downloading https://raw.githubusercontent.com/fluent/fluent-plugin-s3/bb6516221383b60a683b728c9d6c56cdf9b4c3f5/lib/fluent/plugin/out_s3.rb and copy it into exsiting out_s3.rb

[2015-10-27 08:39] repeatedly commented on #114
@diclophis How about this? Can we merge the patch?

[2015-10-27 19:04] diclophis commented on #114
I think the patch looks good overall, we have actually decided to re-architect our log flow, and will be using this ES plugin: https://github.com/elastic/elasticsearch-cloud-aws to facilitate our S3 storage requirements.

Unfortunately we have no ability to test this plugin because we have removed the necessary configuration from our systems...

[2015-10-27 19:04] #114 closed

[2015-10-28 05:26] repeatedly commented on #114
Ah, I see. Thanks for reporting this.
ES-cloud-aws plugin seems interesting.

BTW, I will merge the patch and release new version soon.

[2015-10-29 10:26] ranjeetkgupta opened #118 "dynamic values for path"
I am trying to have dynamic values for path based on the tag last name.

#path log/${tag_parts.last}/

This doesn't seem to work though. It creates the same folder name ("${tag_parts.last}") in S3. Is it not supposed to work with dynamic values ?

[2015-10-29 15:29] repeatedly commented on #118
Yes. See this issue > https://github.com/fluent/fluent-plugin-s3/issues/58

[2015-11-05 02:27] cgspohn opened #119 "MissingRegionError when using assume_role_credentials"
When using assume_role_credentials, even though s3_region was defined in the configuration file, I got this error:

2015-11-05 01:50:19 +0000 [error]: fluent/engine.rb:172:rescue in run: unexpected error error_class=Aws::Errors::MissingRegionError error=#<Aws::Errors::MissingRegionError: missing region; use :region option or export region name to ENV['AWS_REGION']>

This was after upgrading to lat

[2015-11-05 04:50] repeatedly commented on #119
Hmm... could you send a PR?
I'm not sure where is the code did you edit.

[2015-11-05 14:47] cgspohn commented on #119
Hi,  for testing I added line 231 you see below.  I hard-coded the value just for testing purposes.   How do I send a PR?

    227       when @assume_role_credentials
    228         c = @assume_role_credentials
    229         credentials_options[:role_arn] = c.role_arn
    230         credentials_options[:role_session_name] = c.role_session_name
    231         **credentials_options[:region] = '

[2015-11-05 14:48] cgspohn commented on #119
That was without the asterisks, sorry I was trying to make it bold.  For clarity, the code is, with line 231 being the addition with a hard-coded value for testing/debugging.

    227       when @assume_role_credentials
    228         c = @assume_role_credentials
    229         credentials_options[:role_arn] = c.role_arn
    230         credentials_options[:role_session_name] = c.role_session_na

[2015-11-05 15:38] repeatedly commented on #119
We have `s3_region` parameter so you cau use it.
See this code > https://github.com/fluent/fluent-plugin-s3/blob/d6b7097448445c847316ccee0fb6b57d58d473a9/lib/fluent/plugin/out_s3.rb#L107

[2015-11-05 16:39] cgspohn commented on #119
So sorry, the code above obviously was wrong.  So when I did set the env variable AWS_REGION='us-east-1' the problem goes away.  I did have the s3_region setup in the config file, but looks like it totally ignored it when using assume role.

This crazy code change did indeed work when the environment variable was not setup.
options[:credentials] = Aws::AssumeRoleCredentials.new(client: Aws::STS::C

[2015-11-06 07:01] #118 closed

[2015-11-25 04:12] repeatedly commented on #92
I close this issue.
I hope this problem is not related to this plugin but if someone hit same error, please re-open an issue.

[2015-11-25 04:12] #92 closed

[2015-11-25 10:28] hitochan777 commented on #92
@repeatedly I am sorry for the late notice, but indeed this was not due to your plugin, but some settings in AWS was wrong. Anyways, thank you so much for your help!

[2015-12-02 23:20] okkez commented on #119
`Aws::AssumeRoleCredentials` uses `Aws::STS::Client` without region by default.
We should set region to `Aws::STS::Client`.

See https://github.com/aws/aws-sdk-ruby/blob/master/aws-sdk-core/lib/aws-sdk-core/assume_role_credentials.rb#L39

[2015-12-03 11:22] #119 closed

[2016-01-24 01:14] lance-edmodo opened #128 "Feature request: want names of new S3 files as they are saved"
For a fully streaming infrastructure it would be very handy to have a new event generated inside Fluentd whenever a new S3 file is created. I would use this to trigger loading this file into our data warehouse as soon as it was created.

For example, a new directive in the s3 output plugin:

tag s3_file

would send a message to the tag 's3_file' with a 'filename' field that contains the complete s

[2016-01-24 10:40] repeatedly commented on #128
I think S3 Event Notification is useful for this purpose: http://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html

[2016-01-26 17:39] holajoyce opened #129 "can this plugin store logs in s3 with better path"
would like to be able to store paths by hourly if possible

[2016-01-26 17:43] repeatedly commented on #129
See README: https://github.com/fluent/fluent-plugin-s3#configuration
You can set `time_slice_format %Y%m%d%H` or similar.

[2016-01-26 19:38] holajoyce commented on #129
can it create an daily hourly directory, like i would with camus into hdfs?  Thanks

[2016-02-08 14:58] Nabouk opened #130 "Authentication method"
Hello,

I am using the plugin with a third party storage compatible with S3.

Which authentication method is used with fluent-plugin-s3 ? I am getting errors since my application uses authentication V2.
Is authentication V2 implemented ?
Thx

[2016-02-08 19:18] repeatedly commented on #130
We don't touch authentication version via configration so s3 plugin uses Ruby SDK default.
If Ruby SDK v2.x supports v2 authentication, we can also support it.
Could you send a patch if Ruby SDK v2.x with authentication v2 works on your environment?

[2016-02-09 07:57] repeatedly commented on #129
Try it.

[2016-03-07 15:59] davidhybner opened #132 "Documented feature acl not supported"
There are two issues.
First, acl is documented in the Configuration setting, but it doesn't work.  You aren't adding the config_param acl to put_options
[code]

Second, the documentation is wrong in README.md for acl.  You are using '_' when it should be '-'
Current:
bucket_owner_read
Should be:
bucket-owner-read
See: http://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#canned-acl

[2016-03-07 16:46] repeatedly commented on #132
@okkez Could you check?

[2016-03-08 04:45] okkez commented on #132
First, `@acl` is not used in out_s3.rb. We should set `@acl` to `put_options`.
Second, current README.md is wrong. We should replace `_` with `-`.

[2016-03-16 18:00] pankajgrovertt opened #136 "s3 upload time interval"
how can I control time interval of s3 upload ?

[2016-03-16 18:09] repeatedly commented on #136
See this official article: http://docs.fluentd.org/articles/out_s3

[2016-03-16 18:10] #129 closed

[2016-03-16 18:19] repeatedly commented on #128
Using AWS features is better than supporting in S3 plugins.

[2016-03-16 18:19] #128 closed

[2016-03-16 22:46] jeremydonahue opened #137 "Experiencing delayed upload to S3 dependent on secure_forward emptying buffers"
Hi here,

We are experiencing some unexplained delays with chunks not being pushed to s3 until _all_ of the secure_forward instances have fully flushed their buffers.

The image below depicts the behavior we are seeing. The chart on the left is the count of buffer files in the aggregator's out_s3 buffer directory. The chart on the right is the count of buffer files in the secure_forward buffer dir

[2016-03-17 03:00] pankajgrovertt commented on #136
Thanks for the reply. I wanted to confirm if I specify time_slice_format  %Y%m%d , will it create s3 buffer file once in a day ?
I don't want to create file per hour.

[2016-03-17 07:24] repeatedly commented on #132
Release v0.6.6 including fix. Thanks for the report.

[2016-03-17 07:24] #132 closed

[2016-03-17 07:27] repeatedly commented on #136
If buffer chunk reached `buffer_chunk_limit`, S3 plugin uploads its chunk to S3.
If you want to avoid it, please set larger value to `buffer_chunk_limit` and `buffer_queue_limit`.

[2016-03-17 07:59] pankajgrovertt commented on #136
Thanks a lot !

[2016-03-17 07:59] #136 closed

[2016-03-17 16:47] repeatedly commented on #137
It measn you generate lots of logs since around 6:00 or log volume is same but the number of buffer chunks is growing suddenly?

[2016-03-17 16:52] jeremydonahue commented on #137
It means we generate lots of logs at that time.

[2016-03-17 17:00] repeatedly commented on #137
How fluentd and machine consume CPUs?

[2016-03-17 17:11] jeremydonahue commented on #137
The load increases and peaks at about 7, which isn't super high. It is possible that each fluentd process is using 100% of a core but I would have to record some metrics tonight to get that info. We have 8 secure_forward processes, 1 s3_out aggregator process & 32 cores on the host. Could that cause this problem?

[2016-03-17 17:23] repeatedly commented on #137
Currenlty, fluentd uses only 1 core by Ruby's limitation. This will be resolved by multiprocess support since v0.14.
So if your aggregator consumes CPU 100%, uploading files may be delayed.

[2016-03-17 17:28] jeremydonahue commented on #137
So the solution is to use multiple aggregators via the multiprocess plugin for out_s3?

[2016-03-17 20:06] repeatedly commented on #137
Yes, it is possible solution.

[2016-03-22 17:37] WilliamBurdett opened #139 "S3 output error"
I found this error that completely blocked fluent from piping any data into s3. It was still filling its buffers along the way. I found a workaround by creating an empty version of that file and fluent started emptying out its buffers. One emptied correctly, the other only went back 2 days of data instead of 13.

Any help would be appreciated

[code]

[2016-03-22 17:50] repeatedly commented on #139
Please paste your configuration here.

[2016-03-22 17:56] WilliamBurdett commented on #139
We have 3 log files being filled by apache: access.log, ems-gif-access.log, and display-gif-access.log.

When this issue hit, only ems-gif-access.log stopped working, the other two continued to function normally.

[code]

[2016-03-22 18:03] repeatedly commented on #139
Maybe, `buffer_path /site/fluentd/run/s3` and `buffer_path /site/fluentd/run/s3.email` setting is a problem.
`/site/fluentd/run/s3` includes `/site/fluentd/run/s3.email` so `/site/fluentd/run/s3` may flush `/site/fluentd/run/s3.email`'s buffer chunks.

I will add this prefix problem to buf_file article.

[2016-03-22 18:08] WilliamBurdett commented on #139
Thanks so much, was spinning on this for like a week.

[2016-03-28 22:37] danapplegate opened #140 "Gem Dependency Conflict"
Hi there,

I'm running into a gem dependency conflict when I try to use this plugin alongside the [`fluent-plugin-kinesis-firehose`](https://rubygems.org/gems/fluent-plugin-kinesis-firehose). It appears that fluent-plugin-kinesis-firehose requires `aws-sdk ~> 2.1.28`, which causes a conflict with the subsequently dependent `aws-sdk-resources` package from the s3 plugin's `aws-sdk ~> 2` dependency.

[2016-03-28 22:58] repeatedly commented on #140
I'm not sure why this problem happens because `~> 2` should cover all 2.x.x versions.

BTW, please check offcial gem, https://rubygems.org/gems/fluent-plugin-kinesis, instead.

[2016-03-30 21:04] pkaeding opened #142 "How do time_slice_format and flush_interval affect how many chunks are created in s3?"
I'm unclear on how `time_slice_format` and `flush_interval` interact.  I had the following two lines:

[code]

I was expecting to see files like:

[code]

However, I see one file for each minute.  I guess this makes sense, since the docs seem to imply that the `time_slice_format` is not only used to format the time name, but also to decide when to start a new file.  So then, what does `flush_inter

[2016-03-30 23:02] repeatedly commented on #142
This is by `%M` in `time_slice_format %Y/%m/%d/%Y-%m-%dT%H:%MZ`.

http://docs.fluentd.org/articles/buffer-plugin-overview#time-sliced-plugin-overview

time_slice_format is used for chunk boundary.
In this configuration, files are uploaded within minute interval.
So flush_interval is ignored when you specifies larger time slice than flush_interval.

Almost users use `%Y/%m/%d/%H` and `flush_interva

[2016-03-30 23:06] pkaeding commented on #142
Okay, thanks. I suppose that will work for me.

[2016-03-30 23:06] #142 closed

[2016-04-11 11:03] #139 closed

[2016-04-11 17:23] lidocaineus opened #143 "No way to set storage_class"
There doesn't appear to be a way to set storage classes using the plugin. Right now you can set the reduced redundancy storage class by setting reduced_redundancy, but there's no way to utilize the standard-ia class directly. You could also utilize it with a workaround if you could inject manual headers, but there doesn't appear to be an option for thet either.

[2016-04-11 17:44] repeatedly commented on #143
How about using storage_class option? > https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L95
http://docs.aws.amazon.com/sdkforruby/api/Aws/S3/Types/HeadObjectOutput.html#storage_class-instance_method

[2016-04-11 18:01] lidocaineus commented on #143
Ah, I'm not use to digging through the source for config parameters :) However that seems to be appropriate. Looks like this can be closed.

[2016-04-11 18:01] #143 closed

[2016-04-11 18:03] repeatedly commented on #143
I noticed `storage_class` is not listed in README.
I will add it...

[2016-04-11 19:57] repeatedly commented on #143
Added to README

[2016-06-13 17:39] davgibney1 opened #151 "plain text output"
Hello,

Is it possible to output without any added/extraneous formatting/info added to the logs? I mean, can we output with just the original log contents? I want to avoid turning the log files into having content that is JSON-formatted. I am trying to output log files without the added timestamp and match-tag-name that is added at the beginning of every new line.

[2016-06-13 19:00] repeatedly commented on #151
Check single_value format:

https://github.com/fluent/fluent-plugin-s3#configuration
http://docs.fluentd.org/articles/formatter-plugin-overview

[2016-06-17 17:09] davgibney1 commented on #151
The part that made it tricky to figure out was that it didn't work until I added this line to my output config! ==>

message_key ''

I tried with the line "format none" in the source config, and "format single_value" in the output/match config, but you would think that would work without having to also add message_key with a null value. Perhaps this could be clarified in the documentation. Thanks

[2016-06-17 17:34] davgibney1 commented on #151
It also needed "add_newline false"

[2016-06-24 07:16] sonots opened #152 "Initialization order issue: possible case of @bucket is nil"
When I restart fluentd with existing file buffers. I got an error as

[code]

at https://github.com/fluent/fluent-plugin-s3/blob/e6230b696e57b175b51ce275baa5b0b55165d99d/lib/fluent/plugin/out_s3.rb#L224

It looks this is caused because `@bucket` is not initialized yet on starting. Looking inside, `@bucket` is initialized at `start` after calling super at https://github.com/fluent/fluent-plugin-s3/

[2016-06-25 17:06] mikeleeme opened #153 "avro format?"
Hi there,

Does the S3 plugin support output [Avro](https://avro.apache.org/) format?

Thanks

[2016-07-04 10:29] repeatedly commented on #130
No response.

[2016-07-04 10:29] #130 closed

[2016-07-04 10:33] repeatedly commented on #153
fluent-plugin-s3 depends on formatter plugin for formatting record.
I'm not sure avro formatter plugin exist or not.
If not, you need to write formatter plugin.

[2016-07-05 08:36] mikeleeme commented on #153
@repeatedly I see, thanks for your tip!

[2016-07-05 08:36] #153 closed

[2016-07-06 12:35] shawnbutts opened #155 "unexpected error while checking flushed chunks"
[code]

seeing this with the fluent 0.14.1

[2016-07-14 14:06] bratislavml commented on #140
Any news on this? @danapplegate did you solve this issue?

[2016-07-19 15:30] gozer opened #156 "[warn]: 'aws_iam_retries' parameter is deprecated. Use 'instance_profile_credentials' instead"
Since aws_iam_retries defaults to '5' in:
  https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L72

This warning will always be emitted:
  https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L318

[2016-07-27 14:49] stevenc81 opened #157 "Error in hex_random with fluentd 0.14"
Saw a fix is pushed by @sonots in https://github.com/fluent/fluent-plugin-s3/commit/fc7b4d4e41b6de440910b36eebfc22ba19ada60c. Thanks so much for the amazing job! Curious if there perhaps might be a timeline to release it :D

`2016-07-27 14:07:13 +0000 [warn]: failed to flush the buffer. plugin_id="object:2ad6d6923e34" retry_time=0 next_retry=2016-07-27 14:07:14 +0000 chunk="5389e757a9fdcba4dadecd7

[2016-07-28 02:05] repeatedly commented on #155
This doesn't happen with fluentd v0.12 series, right?

[2016-07-28 02:23] #156 closed

[2016-07-28 02:34] #152 closed

[2016-07-29 15:20] tomfitzhenry opened #160 "S3 cost optimisation: Remember the last index value that was used"
## The problem
Suppose you use the defaults:
* `s3_object_key_format` of `%{path}%{time_slice}_%{index}.%{file_extension}`
* `time_slice_format` of `%Y%m%d%H`

And suppose you flush every 30 seconds. So 120 files per hour.

The first file will check whether `foo-2016010109_1.gz` exists via an S3 HEAD request, see it doesn't exist, and then upload to that filename.

The next file will be first chec

[2016-07-29 15:21] cnorthwood commented on #160
The issue with (b) is if you have multiple instances writing to the same path, you'd still need to have the collision check.

[2016-07-29 15:24] tomfitzhenry commented on #160
Oops. I updated (b) to clarify that the HEAD request would still occur for the index we're trying, but it then wouldn't need to try the n-1 earlier requests.

If we're up to index n, we needn't check 1, 2, ..., n-1. But fluentd-plugin-s3 seems to: See https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L190 and line 219.

[2016-07-29 15:40] bbc-tomfitzhenry commented on #160
For less sensationalism, perhaps a more common case of having 20 instances uploading 5 files every 5 minutes costs $2.2 with the O(n^2) and would cost $0.34 with the O(n).

[2016-07-29 15:42] tomfitzhenry commented on #160
For less sensationalism, perhaps a more common case of having 20 instances uploading 5 files every 5 minutes costs $2.2 with the O(n^2) and would cost $0.34 with the O(n).

[2016-08-01 08:56] repeatedly commented on #160
Hard point of (b) is s3 plugin has `num_threads`.
If num_threads is larger than 2, "last index" is unclear in flushing threads.

Hmm...

[2016-08-03 15:19] ofirnn commented on #72
Hey,
Any news regards fluent-s3-input? besides the pull request?

[2016-08-04 08:00] repeatedly commented on #160
If default includes `%M`, flush cycle is shorter. Maybe, almost users is not expeced because it pus lots of files on S3.
This is not efficient for several processing engines, e.g. Hadoop or imporintg files into DWH.

Some users add `%{hex_random}` to `s3_object_key_format`.
This reduces requests and improves performance.

For reducing HEAD cost, one way is adding `skip_existence_check` like option

[2016-08-04 10:12] repeatedly commented on #157
Released new version including sonots's fix.

[2016-08-04 10:12] #157 closed

[2016-08-11 21:58] zfoxdev opened #162 "Feature Request: Dynamic Path Generated by Tag"
It would be nice to have an option in the configuration of this plugin, so that when using a generic `<match **>`, a tag of `my.custom.tag` would be turned into the s3 path `my/custom/tag/`.

This would allow data to be dynamically routed different folders in s3 based on the tag that is provided in the request to fluentd.

[2016-08-18 09:37] Bizzelicious commented on #72
@ofirnn Input released 14 days ago https://github.com/fluent/fluent-plugin-s3/blob/master/README.md#input-setup

[2016-08-23 04:56] pydolan opened #163 "Request: optionally read aws key and secret from environment variables"
Check out how [Logstash's s3 plugin does this](https://www.elastic.co/guide/en/logstash/current/plugins-outputs-s3.html#plugins-outputs-s3-access_key_id).  They check the following locations, in this order:

[2016-08-23 05:03] repeatedly commented on #163
Fluentd configuration has already supported environment variables access like below.

`aws_key_id "#{ENV['AWS_ACCESS_KEY_ID']}"`

[2016-08-23 05:06] pydolan commented on #163
Cool, thanks.

[2016-08-23 05:06] #163 closed

[2016-09-07 14:42] shawnbutts commented on #155
sorry i missed the question.  correct, this was not an issue with v0.12.  it is still happening with 0.14.6

[2016-09-13 13:54] shawnbutts commented on #155
when this happens it appear that it is related to a zero length buffer file.  not sure now the zero lenght file is getting created. but, if it remove it and restart fluent, i do not get the error.

[2016-09-20 10:21] repeatedly commented on #162
You can realize it via fluent-plugin-forest: https://github.com/tagomoris/fluent-plugin-forest

In v0.14, we will remove forest for this feature.

[2016-09-20 10:24] repeatedly commented on #155
Could you paste your entire logs?
I want to check stacktrace, not only error message.

[2016-09-20 10:25] repeatedly commented on #72
I have already released new version including input plugin. closed.

[2016-09-20 10:25] #72 closed

[2016-09-20 15:13] shawnbutts commented on #155
That was the whole log.

[2016-09-20 16:42] repeatedly commented on #155
Hmm... it means your fluentd log doesn't have other logs?

[2016-09-27 19:58] JoeOrtiz opened #165 "[Fluent::S3Input] no block given (yield) on 0.14.6"
I keep getting this error on startup when trying to use the s3 input:

[code]

Any idea on what might be causing this?

[2016-09-27 20:16] repeatedly commented on #165
Does this also happen with v0.12?

[2016-09-27 20:50] JoeOrtiz commented on #165
Just tested it on fluentd-0.12.29, and it works, but not on v0.14.x

[2016-09-27 20:52] repeatedly commented on #165
Thanks!
I will check it later.

[2016-10-09 05:14] jottos opened #166 "shutdown of s3 plugin seems to crash in fluentd v14.6"
We get the following error in logs:

Out configs for s3 are:

[code]

and

[code]

[2016-10-14 00:39] JoeOrtiz opened #167 ""The specified key does not exist." - crashes SQS polling"
It appears like if the s3 key is not found in the bucket, SQS polling just halts, anyway to let it continue?

[code]

[2016-10-14 04:07] repeatedly commented on #167
@okkez Could you check this?

[2016-10-14 06:56] okkez commented on #167
Change `@running` to `false` at  https://github.com/fluent/fluent-plugin-s3/blob/v0.7.1/lib/fluent/plugin/in_s3.rb#L152
This stops polling SQS queue.

If `@running` is not changed here, polling will not stop.
In this case, errored message is not removed and this plugin will retry processing errored messages.

What should I do?

[2016-10-14 13:27] jgelens opened #168 "no logs being written to S3 and no errors"
Using the config below fluentd is writing the buffer files correctly, but doesn't upload anything to S3. It worked with earlier versions, but with the latest it's broken. It's running in a container on ECS and uses IAM creds to get the keys (that's why they are not specified).

But it just doesn't work anymore and there is no log output stating an error or anything else S3 related.

[code]

[2016-10-14 13:40] repeatedly commented on #168
Which version do you use, v0.12 or v0.14?
And there is no error log?

[2016-10-14 13:42] jgelens commented on #168
I've tried fluentd 0.14.2 and 0.14.8. There is no error output.

[2016-10-14 13:45] jgelens commented on #168
This is all the output, including a force flush.

[code]

[2016-10-14 14:04] jgelens commented on #168
Ok the latest version requires the following in the config:
[code]

[2016-10-14 14:04] #168 closed

[2016-10-20 03:18] repeatedly commented on #166
Could you show me the entire stacktrace?
fluent-plugin-s3 doesn't use `index` method, so the problem seems the outside of s3 plugin.

[2016-10-20 03:18] repeatedly commented on #166
And does this happen with latest v0.14.8?

[2016-10-20 03:19] repeatedly commented on #165
https://github.com/fluent/fluent-plugin-s3/pull/171 fixes this problem.

[2016-10-20 03:19] #165 closed

[2016-10-20 03:39] jottos commented on #166
this was all that was in the logs, not much of a stack trace, sorry.

let me update to 14.8 and see if I still have the problem, if I still do,
perhaps you can
give me some advice on how to get a better stack trace

2016-10-09 22:48:47 +0000 [error]: fluent/engine.rb:167:rescue in block in
log_event_loop: failed to emit fluentd's log event tag="fluent.trace"
event={"instance"=>70134216596880, "met

[2016-10-20 04:55] repeatedly commented on #166
Ah, your log doesn't have stacktrace?
By default, fluentd dumps first stacktrace of error: http://docs.fluentd.org/articles/logging#suppress-repeated-stacktrace

[2016-10-20 06:29] jottos commented on #166
I checked my startup options and I'm not suppressing stack traces, these
are the exact logs I'm seeing, this might be the entire trace

I just updated to the latest fluentd 0.14.8 and still get exceptions,
though is seems like many fewer and i looked at entire log I'm not sure if
the error is from the fluentd logger or the individual plugins. I did a
td-agent-gem install so I don't know if if got

[2016-10-20 08:16] repeatedly commented on #166
From the logs, you hit same error with other plugins.
It seems reproducible problem, could you show me the configuration?

[2016-10-20 16:17] jottos commented on #166
John Schneider
C 408 203 7891
E jottos@gmail.com

On Thu, Oct 20, 2016 at 1:16 AM, Masahiro Nakagawa <notifications@github.com

[2016-10-20 17:59] philm commented on #155
I ran into the same problem. Cause seems to be a 0 byte buffer.*log.meta file and removing the file + restarting fluentd gets me by.

Here's a stack trace that occurs when the error happens for the first time.

[code]

[2016-10-23 02:06] spaelet opened #172 "Colons in filename cause "The specified key does not exist." on input plugin"
Log files dropped onto S3 by AWS Config have colons in the filename, e.g.:
[code]
which seem to cause the ingest to fail, throwing errors like:
[code]
When you rename the file without colons, it works fine.

[2016-10-23 04:16] repeatedly commented on #172
Error seems to happen inside AWS Ruby client.
Do you know this problem is AWS spec issue or client implementation issue?

[2016-10-23 11:10] spaelet commented on #172
S3 docs say colons are okay to use but "might require special handling":
http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys
I'll do a little further experimentation and then open an issue on the ruby client
Thanks!

[2016-10-23 11:10] #172 closed

[2016-10-24 20:58] repeatedly commented on #167
Fixed via #170

[2016-10-24 20:58] #167 closed

[2016-10-24 21:00] repeatedly commented on #166
And if you have a reproducible, write it together is very helpful.

[2016-10-25 18:23] jottos commented on #166
the test is pretty simple. It's my standard stress test, I send a constant
stream of logs to the fluentd single threaded, from several different
sources (different machines in my AWS infrastructure, usually 1million from
each source, the test is run via an Ansible script that runs the test
programs from a single box) I then count them at each destination using SQL
(apache Drill) for HDFS and other

[2016-10-26 15:52] guiocavalcanti commented on #155
I ran into the same problem but I don't have a 0 byte file here =/

[2016-10-26 19:39] repeatedly commented on #155
Sorry. I missed philm's comment.
Thanks for the stacktrace!
I will debug it.

[2016-10-31 21:31] repeatedly commented on #155
I confirmed 0byte meta file causes this error but hard to find why 0 byte metafile is created...
Need more time to debug it.

@guiocavalcanti Do you ofthen hit this problem with normal metadata / buffers files, right?

[2016-10-31 22:59] repeatedly commented on #166
Which is test driver code?

[2016-11-01 12:03] guiocavalcanti commented on #155
@repeatedly not often. I relaunched my fluentd container and the problem didn't happened. [Here](https://gist.github.com/guiocavalcanti/8bf0ef787ce1aaaf25c3c74262ab8456)'s my config file.

[2016-11-02 06:02] jaywayjayway opened #174 "how to configure to store to own s3 with building Ceph"

[2016-11-02 06:19] repeatedly commented on #174
S3 plugin maintainer don't have a experience with Ceph...

[2016-11-02 06:33] repeatedly commented on #174
If someone send a PR to update README for Ceph,
I can merge it.

[2016-11-06 06:38] jottos commented on #166
Sorry, this is in python and not ruby :)

The basic options are
-s <server> choose server from list of built in servers
-t <test-iterations>   number of test runs to do (default 1)
-n <number of logs> number of logs to send per test (default 1,000,000)

Example commands:

  python3 fluent_test.py -s fluent-1.apixio.com
  python3 fluent_test.py -s fluent-1.apixio.com -t 10
  python3 fluent_test.py

[2016-11-16 21:12] kgf commented on #162
@repeatedly Could you elaborate what you mean by this quote ?

Thanks
Kevin

[2016-11-17 10:59] repeatedly commented on #162
v0.14 new plugin API provides it.
See out_file case: http://www.fluentd.org/blog/fluentd-v0.14.9-has-been-released

[2016-11-23 06:07] parkjaeman opened #176 "Error on adding s3 output to fluentd in container"
I am trying to add s3 output on fluentd in kubernetes and met following error.
Please let me know what is problem?

-------------------------------------

2016-11-23 05:50:02 +0000 [info]: reading config file path="/etc/td-agent/td-agent.conf"
2016-11-23 05:50:02 +0000 [info]: starting fluentd-0.12.29
2016-11-23 05:50:02 +0000 [info]: gem 'fluent-mixin-config-placeholders' version '0.4.0'
2016-11-

[2016-11-24 00:56] repeatedly commented on #176
This is the bug of uuidtools and there is no response from uuidtools author.
Hmm... time to remove config-placeholder mixin.

[2016-11-24 07:33] #176 closed

[2016-11-24 09:04] repeatedly commented on #176
I released v0.8.0.rc1 to resolve this problem.
Could you try this version? You need `--pre` in install command.

[2016-11-28 20:00] brandonmp opened #178 ""both utc and local time are specified""
I've been setting this extension up & it's been working fine, but now it's throwing fatal errors on run. As far as I can recall I haven't changed anything in the `conf`, so hoping someone may have some insight.

I'm certain it's the `s3` plugin b/c removing it from `conf` fixes the error

the error on-build:

[code]

It looks like a straightforward message, but I'm clueless as to how to fix it.  M

[2016-11-28 20:03] brandonmp commented on #178
and in record time, i figured it out. I had added `fluent-plugin-concat` to my dockerfile, but decided not to include it in my `fluent.conf`

Apparently just its inclusion in the build was enough to break stuff--unsure exactly why since i never got around to using the `concat` plugin.

[2016-11-28 20:03] #178 closed

[2016-11-28 20:10] repeatedly commented on #178
This has been already fixed at the master: https://github.com/fluent/fluentd/pull/1319
v0.14.10 fixes this problem.

[2016-12-30 10:39] breath-co2 opened #179 "s3_object_key_format support %{tag}"
for #31

add one param: remove_tag_prefix

config example:
[code]

save file by tag like this:

- /test/2016/12/29/create_0.log
- /test/2016/12/29/login_0.log
- /test/2016/12/30/create_0.log
- /test/2016/12/30/login_0.log

[2017-01-24 14:56] mmaslowskicc opened #181 "Do not override configured s3_object_key_format with disabled check_object"
My use case is uploading logs to S3, with UUIDs in their keys (from `%{uuid_flush}`), and using only the consistent subset of S3 operations (so other services can list the logs in the S3 bucket and know that they won't be not found when a different service requests them). With my understanding of <http://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html#ConsistencyModel>, this requires con

[2017-02-10 04:20] breadmj commented on #155
Same issue here! (same error)
In my case, the size of meta files is not exactly 0.
But the size of them is about half of other normal meta files.

[2017-02-14 07:54] myungjae1 opened #183 "fluent-plugin-s3 just hangs (stops) and don't work."
Hi,

Thanks for all your effort first.
I'm really awaiting the official release of fluent-plugin-s3 v1.0.0!

I just wanna let you know a kindof bug that I've noticed recently.

# What I want
- fluent-plugin-s3 keeps working (flushing to S3) without stop.

# What I am currently experiencing
- fluent-plugin-s3 just stops working abruptly. No flushing to S3.

# Weird things I've noticed
- sometimes (

[2017-02-14 08:07] repeatedly commented on #181
@chillaxd Could you check this?

[2017-02-14 08:09] repeatedly commented on #183
It seems the bug of fluentd's buffer, not s3 plugin.
I will work on it but I don't recommend v0.14 on the production.

[2017-02-14 08:26] repeatedly commented on #183
BTW, no error logs in fluentd log?

[2017-02-14 10:33] breadmj commented on #183
Sometimes (**not always**) there are error logs like below. No warning logs. Just those error logs. (Log level of fluentd is currently set to `info`)
[code]

What I want to emphasize here is this; If error log happens, then fluent-plugin-s3 stops working. But the reverse is not true. fluent-plugin-s3 sometimes stops working even if there is no error/warn log.

[2017-02-14 19:53] chillaxd commented on #181
@mmaslowskicc if check_object is false that means fluentd_s3 plugin will not check for the object existence in s3. So, to avoid override all the objects must have some unique id every time it is going to s3. That's why the format has been fixed.
Now in your use case, you are trying to send UUID and other specific elements in the log content, not as it's name. Correct me please, if I'm misunderstoo

[2017-02-14 22:41] fizyk commented on #181
@chillaxd there's nothing mentioning log content, only object keys, which @mmaslowskicc mentions we're adding uuid to (to the key, not content - apart from other elements making it even more unique like hostname).

Currently with check_object set to true, the check itself creates the key (with no content) making other services list, but error when trying to access the file.

Simplest way to avoid

[2017-02-15 01:52] breadmj commented on #183
There is only one warn log like this.
This warn log happens when the fluentd starts up.

[code]

[2017-02-15 10:27] schasse commented on #155
same issue here.

[2017-02-15 11:03] repeatedly commented on #155
This seems the bug of v0.14's buffer and need more time to fix it.
If you hit this problem, please use v0.12 instead of v0.14.

[2017-02-15 12:53] chillaxd commented on #181
@mmaslowskicc @fizyk ok I got the usecase. So I think there should be some provision to use own format other than the default one (which is the current one). But in that case user would be responsible for any data loss. As if the object with same name exist, it will override in S3. I know you know that, still mentioning.

[2017-02-15 13:27] fizyk commented on #181
yup, personally I think a documentation warning near the check_object would be sufficient for users.

[2017-02-20 08:19] islue opened #184 "#{Socket.gethostname} does not work"
I got such a warning with v0.8.1
[code]

My config is
[code]
And I got file named as below
[code]
In the test code, it seems that #{Socket.gethostname} does work under ruby double quotation mark context. But I couldn't find the way it works in read codes. Am I missing something?

[2017-02-20 08:53] #184 closed

[2017-02-20 08:53] repeatedly commented on #184
See: http://docs.fluentd.org/v0.12/articles/config-file#embedded-ruby-code

[2017-02-20 09:07] islue commented on #184
Got it. Thank you.

[2017-02-20 09:07] repeatedly commented on #184
I will update README with actual example.

[2017-02-20 18:43] repeatedly commented on #183
I'm now working on fixing this problem.
Could you tell me more detailed of your traffic?
How much volume and could you show me log example without sensitive data?
I want to reproduce this problem on our test environment.

[2017-02-22 05:09] breadmj commented on #183
Hi @repeatedly, sorry for late.

**Average traffic**
1.5K logs per sec.

**Size in byte per log**
It varies on log message but about 500~1500 Byte per log.

**Log Example**
[code]

Hope this helps.

[2017-02-22 14:33] bryanlarsen commented on #34
For the current version you also have to set `check_object false` or give the GET_OBJECT permission.

[2017-02-23 02:16] repeatedly commented on #183
Thanks!
I use these setting for debugging problem.

[2017-03-03 18:09] Cisneiros opened #187 "Output to S3 every half hour (sharp)"
Hello.

I'm trying to export log files to S3 every half an hour "sharp", inside a year/month/day directory structure. This means I want something like:

[code]

 (where `xalala` is the rest of the filename, like hostname, index and extension)

I tried using the following format for my `time_slice_format`: `%Y/%m/%d/%H%M`.

This does what I want: creates a folder structure per year/month/day. But,

[2017-03-06 08:42] repeatedly commented on #187
With v0.12, you can't realize it.
But v0.14 supports more flexibile time separation. See following article:

http://docs.fluentd.org/v0.14/articles/buffer-section#time

You can realize it by following configuration:

[code]

[2017-03-20 06:05] jaywayjayway commented on #174
@repeatedly  Hi, I have update  README  with  Pull requests . ^_^

[2017-04-05 12:48] Cisneiros commented on #187
Thank you! It worked like a charm :)

[2017-04-05 12:48] #187 closed

[2017-04-07 03:06] akirakiron opened #190 "Inconsistent timezone for time_slice_format"
We're formatting time_slice_format with hard-coded UTC right now.
Here is [the snippet](https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L207)
[code]
This is inconsistent and confusing since we apply timekey_zone in the other part (e.g. path) or in the other output plugins. Is it possible to unify them?

[2017-04-13 06:14] blogwatcher-gi commented on #190
Time.at(metadata.timekey).utc.strftime(time_slice_format)
=>
 @buffer_config['timekey_use_utc'] ? Time.at(metadata.timekey).utc.strftime(time_slice_format) : Time.at(metadata.timekey).strftime(time_slice_format)

[2017-04-15 22:35] brycied00d opened #191 "fluentd-0.12.33 log_level=trace NoMethodError undefined method `write' for nil:NilClass"
When we upgraded from 0.12.32 to 0.12.33 of fluentd, the fluent-plugin-s3 was no longer able to start, throwing a NoMethodError exception during check_apikeys. Downgrading back to 0.12.32 resolves the issue. Removing `log_level trace`, or setting it to a lesser level (`debug`) also resolve the issue.
Evidently, there has been some change or regression by 0.12.33 that makes this plugin fail with `l

[2017-04-17 16:50] repeatedly commented on #190
Sorry for the late. I will check this soon.

[2017-05-08 00:51] repeatedly commented on #191
I confirmed it. Now investigating...

[2017-05-08 01:22] repeatedly commented on #191
Okay. We need to add `<<` to delete list in PluginLogger.

[2017-05-08 09:33] repeatedly commented on #191
Send a patch to fluentd.

[2017-05-09 13:08] #191 closed

[2017-05-17 01:14] repeatedly commented on #190
I wrote a patch: https://github.com/fluent/fluent-plugin-s3/pull/194
Could you check this?

[2017-06-07 07:59] #190 closed

[2017-06-23 15:12] luqasz opened #198 "Use IAM role from AWS metadata"
Hi.

I am trying to run this plugin with EC2 instance and its IAM role. `instance_profile_credentials ` throws an error:
[code]

[2017-06-23 15:28] luqasz commented on #198
Ah. NVM. I've made a mistake in IAM policy. All works fine.

[2017-06-23 15:28] #198 closed

[2017-07-07 09:46] jiachenzhong opened #199 "how can i use it in china"
edpoint default is .amazonaws.com
but in china is .amazonaws.com。cn

[2017-07-07 10:23] repeatedly commented on #199
Use `s3_endpoint`.

[2017-07-07 10:23] #199 closed

[2017-07-10 02:15] jiachenzhong commented on #199
<match s3.apache.access>
    @type s3
    aws_key_id xxxxxx
    aws_sec_key xxxxxx
    s3_bucket XXX
    s3_region cn-north-1
    s3_endpoint amazonaws.com.cn
    path logs/
    buffer_path /var/log/fluent/s3
    time_slice_format %Y%m%d%H
    time_slice_wait 10m
    buffer_chunk_limit 256m
  </match>

unexpected error error_class=ArgumentError error=#<ArgumentError: expected :endpoint to be a HTT

[2017-07-10 02:46] jiachenzhong commented on #199
s3_endpoint https://s3.cn-north-1.amazonaws.com.cn
there is no more error but no data be send to s3 bucket

[2017-07-12 20:43] repeatedly commented on #199
Hmm... fluent-plugin-s3 uses aws-sdk-ruby.
Could you check aws-sdk-ruby works with your environment?

[2017-07-13 00:07] repeatedly commented on #155
This issue is moved to fluentd issue. https://github.com/fluent/fluent-plugin-s3/issues/155

[2017-07-13 00:07] #155 closed

[2017-08-24 16:31] AlexMorreale opened #204 "[warn]: error=#<NoMethodError: undefined method `delete' for nil:NilClass>"
[code]

Getting this error when trying to input from s3

[code]

Can someone point me in the right direction here?

[2017-08-24 18:52] AlexMorreale commented on #204
Looks like the json i had in s3 was malformed sorry for the issue

[2017-08-24 18:52] #204 closed

[2017-08-24 20:12] jcerjak commented on #80
Judging from another [comment](https://github.com/fluent/fluent-plugin-s3/issues/34#issuecomment-281685528) on that issue, this [commit](https://github.com/fluent/fluent-plugin-s3/commit/5e54fc095dc0c04869701024ff4dae795e11205d) message and [another comment](https://groups.google.com/d/msg/fluentd/Vvok7FTVuq4/UZZAz07KBAAJ), it looks like more permissions might be needed.

It would be very benefici

[2017-10-04 02:42] directionless opened #207 "Support for client-side encryption"
I believe the amazon ruby SDK supports client side encryption on S3 buckets. Is that something that could be added here?

https://aws.amazon.com/blogs/developer/using-client-side-encryption-for-s3-in-the-aws-sdk-for-ruby/

[2017-10-05 12:16] repeatedly commented on #207
If this option is also available in `put` method, easy to support i: https://github.com/fluent/fluent-plugin-s3/blob/e6e65e14a4d930bb3cb80ab66974819e71acd544/lib/fluent/plugin/out_s3.rb#L291

[2017-10-05 13:07] riywo opened #208 "AWS SDK for Ruby V3"
Hi,

AWS SDK for Ruby V3 has been announced generally available, but the dependency of this plugin v1.0.0 RC is still declared by less than v3.

Why don't you update it to include v3 or only v3 at this timing? Do you have any concern to use v3?

See also: https://aws.amazon.com/blogs/developer/announcing-the-modularized-aws-sdk-for-ruby-version-3/

Best,

[2017-10-22 23:12] sergeyarl opened #211 "[warn]: fluent/log.rb:336:call: section <format> is not used in <match **> of out_file plugin"
Hi!

I'm using latest td-agent from yum repository on centos 7 x86_64

plugin version:
[code]

I have the following config of s3 plugin.

[code]

When I start fluentd I get:

[code]

No matter what format parameters I provide it doesn't seem to work.
I continue getting `warning: Section <format> is not used in <match **> of out_file plugin` message in logs.

Can you please help me investigate the

[2017-10-23 02:52] repeatedly commented on #211
`<format>` is for fluentd v0.14 and v0.14 API-based plugin.
So it doesn't work with fluentd v0.14 and v0.12 API-based plugin.
Use `format json` instead.

[2017-10-23 02:52] #211 closed

[2017-10-23 19:18] sergeyarl commented on #211
Thank you for the response!

Yes. I tried both.

I changed the config to:

[code]

I get the following log:

[code]

[2017-10-24 07:15] repeatedly commented on #208
Sorry for the late.

For keeping to support aws-sdk v2, do we need following code?

[code]

[2017-10-24 18:13] sergeyarl commented on #211
Not sure I understand :) But there still are these lines in the log, that I posted:

[code]

also, actually it doesn't seem to work at all, I mean 'format'. no matter what parameters I specify.

I just thought if I get rid of these warnings in the logs it'd start to work. my goal is to get single_value plugin to work. but currently neither json nor single_value work. with either 0.14 or 0.12 style

[2017-10-26 02:56] yohei1126 opened #212 "Support for granting a permission to a canonical user id"
I have a bucket policy as follows to reject putObject request without grant-full-control for bucket owner's canonical user id for some reasons. The plugin currently supports `acl` but  it would be very helpful if it also supports `grant_full_control`.

[code]

Please refer to [AWS documentation](http://docs.aws.amazon.com/AmazonS3/latest/dev/example-walkthroughs-managing-access-example3.html) for

[2017-10-27 07:32] yohei1126 commented on #212
fix for v0.12 is merged now. I will also send pull request to master later.

[2017-10-27 07:33] yohei1126 commented on #212
Confirmed that we can use grant-full-control on fluent-plugin-s3 ver. 0.8.7.
https://rubygems.org/gems/fluent-plugin-s3/versions/0.8.7

[2017-10-30 04:08] #212 closed

[2017-11-02 05:22] akalbhor opened #215 "Temporarily failed to flush the buffer due to networking error"
Hi,
I am using out_s3 plugin for a while and suddenly got a networking issue causing the flush to fail. The retry succeeded eventually after filling up the logs with exception's stack trace. Is there a neat way to handle such issues?
Can the retry succeeded log message be set at "info" level rather than "warn" level, because technically it is a successful recovery?

[code]

Retry succeeded log:

[

[2017-11-02 06:24] repeatedly commented on #215
If the retry is succeeded, it is no problem.
This is why fluentd has buffer and retry mechanizm.

[2017-11-02 16:14] akalbhor commented on #215
Thanks!
Is there a way in out_s3 plugin to log succeesful flush?

[2018-01-09 14:34] Ken4scholars commented on #151
@davgibney1 I'm having the same issue. I'm getting error logs from Nginx which I want to send to Zabbix without formatting it. I want the message_key to be "error_log". I have tried adding format none to the in_tail configuration and the format tag with single_value type message_key to the zabbix output plugin but it does not accept any format tag there. It tells me that the parameters in the form

[2018-01-18 01:11] mattyb opened #221 "support for parquet compression"
We're looking in to using fluentd to write logs to S3, where they'll be read by AWS Redshift Spectrum. Spectrum charges by read throughput, but it also supports the columnar compression format of Parquet, which can greatly reduce the amount of data you have to scan through. It would be great if the s3 plugin could support this compression format.

[2018-01-20 11:30] repeatedly commented on #221
s3 plugin's format or compression are pluggable.
So if you write the plugin, you can use parquet format in s3 output.
But I'm not sure how parquet processes event streams...

[2018-02-05 04:44] mochizuki-masao opened #223 "fluent-plugin-s3 sometimes causes Zlib::DataError"
Hi,

fluent-plugin-s3 start to emit warning occasionally since I have updated fluentd from v0.12 to v1. I'm using `v1.1.0-debian` docker image provided in DockerHub.

[code]

I found:

1. I can find this warnings especially in high load server.
2. retry just after this warning always succeeds.

Is this a bug for GzipCompressor or a problem of my configuration?

(partial) configuration is below:

[

[2018-02-05 05:40] tjinjin commented on #223
該当の箇所はここかー https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L498

高負荷時にデータが不正な形になっちゃうようなバグがあるんですかねー

[2018-02-08 02:23] repeatedly commented on #223
Hmm... compression code is same between v0.12 and v1.
So if the problem happens, the major cause seems gzip library and buffer chunk combination.
To find the root cause, we need more time to investigate it.

[2018-02-15 04:57] eagletmt commented on #223
Same here. I'm using td-agent 3.1.1-0 package in Ubuntu 16.04.
In lmost every flush interval, some of chunks fail to flush with `error_class=Zlib::DataError error="data error"` and succeed to flush in the next retry.

My configuration is like the following.

[code]

/path/to/s3_buffer contains about 100 - 150 buffer files.

[2018-02-28 02:26] fantajeon opened #224 "gzip_ command Fallback to Gzipwriter, status = pid 3134 SIGKILL (signal 9)"
Please help me!!
I'm monitoring cpu utillization and i/o wait. sometimes cpu is 100%, and i/o wait 100%.
I make my docker images from "fluent/fluentd:v1.0-debian-onbuild".
I installed fluent-plugin-s3 -v 1.1.1 --no-document.

This is my conf(for s3):
[code]

However, I checked my logs as following:

2018-02-28 01:21:30 +0000 [info]: #0 [echo] listening port port=24720 bind="0.0.0.0"
2018-02-28 01:

[2018-03-13 21:22] #215 closed

[2018-03-26 06:05] JamesJJ commented on #223
Another "me too":

[code]

Also, see these messages:

[code]

[2018-03-30 21:14] ehalpern commented on #211
This still seems to be a problem. I'm using v1.0 and must use `format json` to direct out_s3 to output lines as json. When I do, however, td-agent logs the following warning:

[code]

If I follow the docs (https://docs.fluentd.org/v1.0/articles/out_s3#%3Cformat%3E-directive), and use:

[code]

I see the same warning and the plugin does not properly output lines as json.

My config looks like this:

[2018-04-01 23:14] zac-nixon commented on #223
I was able to get around this Zlib::DataError by using fluentd:v0.12.38 then upgrading the fluentd gem

[code]

The v1 docker image uses ruby 2.4.X while 0.12.38 uses 2.3.6. So, it looks like some regression in the ruby zlib library.

[2018-04-03 17:57] repeatedly commented on #224
Hmm... the reason is sigkill. So someone kills gzip command. Does system monitors process and kill it?

[2018-04-03 17:59] repeatedly commented on #211
@ehalpern Could you paste entire log?

[2018-04-03 18:00] repeatedly commented on #223
Maybe, this message is caused by above Zlib::DataError. We need to setup reproduce environment for investigating the problem.

[2018-04-06 00:36] #54 closed

[2018-04-20 02:37] nrmitchi opened #228 "Fails if environment requires `s3_force_path_style`"
Virtual-host style vs path-style access is described here: https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html#access-bucket-intro

If an environment does not have full subdomain DNS (for instance, a minio instance deployed within a Kubernetes cluster), the Virtual-host style access fails.

The aws-sdk-ruby appears to have an option to force path style, it would be nice if there was a

[2018-04-20 02:39] nrmitchi commented on #228
Ummm nevermind, this seems to already be a thing, and I just seemed to have totally missed it.

Apologies.

[2018-04-20 02:39] #228 closed

[2018-05-06 07:43] jl2005 commented on #223
Hi, I have same problem

**config:**

[code]
**Error message**

[code]

[2018-05-08 03:41] asumawang opened #229 "The value of %H for path or s3_object_key_format is always 00"
Hi,

Why is %H always 0 for path or s3_object_key_format?

Here's my config:

[code]
Thanks!

[2018-05-21 08:00] repeatedly commented on #223
The root cause is buffer/zlib combination on fluentd side: https://github.com/fluent/fluentd/issues/1903
In `s3`, using `gzip_command` should avoid this problem.

[2018-05-21 08:17] mochizuki-masao commented on #223
Thanks! I will try this and report if `gzip_command` works.

[2018-05-22 12:22] sampointer commented on #229
I also have the same problem of `%H` and `%M` returning 00. Here is the configuration I am using:

[code]

The bucket and path naming is to allow querying of the data via AWS Athena.

[2018-05-22 13:10] sampointer commented on #229
I've noticed that removing all buffer files related to previous configurations is the only thing that will cause amendments to the `time_slice_format` to be effected if fluentd was unable to flush previous buffers (due, perhaps, to duplicate keys in the s3 bucket

[2018-05-22 17:34] et304383 opened #230 "Support for temporary credentials directly specified"
I use IAM roles with MFA.

Thus, I see no way to support passing the 3 values in directly:

* access key ID
* secret access key
* session token

I want to be able to pass these 3 values in directly.  I dot not want the plugin trying to do the assume role call for me.

Any way to make this work?

[2018-05-24 10:23] edgegoldberg opened #231 "fluent-plugin-s3 won't work if internet connection not available on starting of application"
Hi,
Thank you all for the efforts.
I've noticed a bug recently which I want to  let you know.

**What I want**

    fluent-plugin-s3 keeps working (flushing to S3) without stop

**What I am currently experiencing**

    fluentd application (configuration) wont work at all and goes to endless loop just to start

**What I've noticed**

- If internet not available at start of application, application

[2018-05-24 10:53] repeatedly commented on #231
This is not a bug.
if you want to skip apikey check at start, set `check_apikey_on_start` to `false`.

[2018-05-24 10:53] #231 closed

[2018-05-24 12:49] edgegoldberg commented on #231
I just want to mention that access key and secret key are correct. Same fluentd application (configuration) works fine if internet is available on start up of fluent application.
It wont work only if internet not available on start up.

After setting `check_apikey_on_start` to `false` now I am getting following error

    2018-05-24 18:10:45 +0530 [error]: #0 unexpected error error_class=Seahorse:

[2018-05-25 14:11] et304383 commented on #80
Can you at least list the required IAM permissions in the README?  This is madness.

I completely disagree with needing any permissions other than PutObject.

[2018-05-25 21:17] gaohao commented on #140
looks like latest s3 and kinesis plugins have conflict on aws sdk cores

[2018-05-28 07:48] edgegoldberg opened #232 "fleuntd configuration is not starting; Getting error as unexpected error error_class=Seahorse::Client::NetworkingError error="execution expired""
Hello,
Fluentd configuration is not starting at all if internet connectivity not available at the start up of configuration for the device from which the files should be put on s3 bucket.
But the same configuration works fine if internet is available at the start up of configuration.
Please note I have set check_apikey_on_start to false (`/fluent-plugin-s3-1.1.3/lib/fluent/plugin/out_s3.rb:401`) a

[2018-05-29 18:10] repeatedly commented on #232
Could you also set `check_bucket false`?

https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/out_s3.rb#L216

Of course, this also disables auto create bucket so you need to create bucket before data upload.

[2018-05-29 18:18] et304383 commented on #230
If you're relying on the built in credential resolvers of any of the SDKs, I should be able to set the 3 environment variables and things just work.  It does not.

[2018-05-29 18:43] et304383 commented on #230
I'm honestly not sure how you coded it, but there must be a way to specify the session token too, otherwise temporary credentials do not work.

[2018-05-30 16:22] mightwork opened #233 "Logs pushed to s3 are sometimes incomplete"
My application writes logs to a file which fulentd tails and pushes to s3 every 10 mins. Sometimes these files do not contain all the logs. For example yesterday, 5 consecutive files being pushed to s3 started and ended at the following lines numbers from the main log file.

10.json
S 355508
E 493247

20.json
S 722455
E 984158

30.json
S 1105528
E 1497162

40.json
S 1497163
E 1906154

50.json
S 19

[2018-05-31 00:03] repeatedly commented on #233
600 msgs/sec is smaller so rate is not the problem.
Do you use same s3_object_key_format between multiple fluentd process?

[2018-05-31 07:14] edgegoldberg commented on #232
Thanks a lot @repeatedly.
This solved the issue.

[2018-05-31 07:14] #232 closed

[2018-05-31 09:20] mightwork commented on #233
Fluentd is running as a single process.

[2018-06-06 13:53] mightwork commented on #233
I went through https://docs.fluentd.org/v0.10/articles/performance-tuning and it helped. Though I am not able to set the num_threads param. Getting the following error:

[code]

Am I setting it incorrectly? Also, I am seeing a lot of slow_flush_log_threshold messages.
[code]

Does slow_flush_log_threshold effect fluentd's performance? And is increasing them a solution?

[2018-06-07 13:54] repeatedly commented on #233
Ah, this is v0.12 style example. We will update the document with v1 style soon.
In v1, you use `flush_thread_count` in `<buffer>` instead.

No, it doesn't affect the performance.

[2018-06-07 14:36] repeatedly commented on #233
Ah, you refers outdated document. I misread the link. I thought v1, not v0.10.

[2018-06-08 08:24] ecristea opened #234 "Readme documentation typo"
This is about a small typo:

In paragraph `Use your (de)compression algorithm` first sentence contains:
`... like Fleuntd's ...`
probably should be changed to
`... like Fluentd's ...`

[2018-06-08 09:48] cosmo0920 commented on #234
Hi.
Thanks foe the report.
Could you send a patch to fix typo?

[2018-06-08 11:52] ecristea commented on #234
Created:
https://github.com/fluent/fluent-plugin-s3/pull/235

[2018-06-12 14:53] mightwork commented on #233
Got it. Thanks :)

[2018-06-12 14:53] #233 closed

[2018-06-30 08:41] afeld commented on #75
[The docs](https://docs.fluentd.org/v1.0/articles/out_s3#s3_endpoint) now say "This option is deprecated"... I guess this support is going away?

[2018-06-30 11:17] repeatedly commented on #75
You can still use this parameter for S3 compatible service.
For S3, this parameter is deprecated.

[2018-07-08 09:36] Lokicity opened #236 "logs don't show up in S3"
Hi, I am fairly new to fluentd and running into some issue in uploading a random file to a s3 bucket.
I am running fluentd as a docker container and using images: fluent/fluentd-kubernetes-daemonset:v1.2-debian-s3 from https://hub.docker.com/r/fluent/fluentd-kubernetes-daemonset/

Here is the command I run on my computer:
[code]

Here is my log:
[code]

I tried two output method just to make sure

[2018-07-08 09:49] repeatedly commented on #236
Check official document :)

https://docs.fluentd.org/v1.0/articles/config-file#note-on-match-order
https://docs.fluentd.org/v1.0/articles/faq#how-can-i-match-(send)-an-event-to-multiple-outputs?

[2018-07-08 09:58] Lokicity commented on #236
@repeatedly Thank you very much. I added the output to stdout for debugging purpose and since it created the S3 bucket, I never thought it wasn't matching the second "match" statement.

[2018-07-08 09:58] #236 closed

[2018-07-09 02:19] Sam123ben opened #237 "The plugin works good as expected, but it fail to clean up the logs after pushing to S3"
Do the plugin have some or any feature to enable auto clean up the logs that once its pushed to S3 as its getting accumulated to logs directory in the ndoe and increasing the diskspace.

Regards,
Samyak

[2018-07-12 18:49] prachetasp commented on #237
Logrotate perhaps?

[2018-07-16 17:04] abijitn commented on #92
@repeatedly : I have a similar issue with Fluentd v1.0.2.
What I have observed is that even for uploading logs onto S3, fluentd required a "s3:GetObject" if fluentd is retrying a failed Put operation. If its not a retry operation, it works fine with PutObject permissions. For retry looks like it needs GetObject, ListBucket and PutObject.
My purpose is to limit the IAM user only to PutObject permis

[2018-07-17 15:58] ecristea opened #239 "Snappy configuration"
Hi,

I am trying to [configure](https://github.com/fluent/fluent-plugin-s3#use-your-decompression-algorithm) snappy compression, for `out_s3 plugin`, with fluentd running in docker and getting following error:
`got unrecoverable error in primary and no secondary error_class=TypeError error="no implicit conversion from nil to integer"`

Above error can be replicated with this [repo](https://github.

[2018-07-23 07:40] ecristea commented on #239
Sorry, this is not a fluentd issue, can be closed.
The error was caused by incorrect usage of [ruby gem](https://rubygems.org/gems/snappy/versions/0.0.17).
Incorrect usage:
[code]

Error-free code:
[code]

[fluentd-snappy-test.git.tar.gz](https://github.com/fluent/fluent-plugin-s3/files/2218335/fluentd-snappy-test.git.tar.gz)

[2018-07-23 07:40] #239 closed

[2018-07-23 09:33] repeatedly commented on #237
Do you mean file buffer's files?
It should be deleted after uploaded.
Is your problem reproducible?

[2018-07-26 18:16] vimalmpatel opened #240 "unexpected error error_class=Seahorse::Client::NetworkingError error="execution expired""
i am using fluent-plugin-s3 -v 1.0.0 on docker

here is my configuration for s3 input

[code]

i am getting Seahorse::Client::NetworkingError: execution expired error

[2018-08-02 16:28] javillerenas opened #241 "store_as text still storing as .gz file"
I am using the `store_as` field to try to store the messages as a `text` file in S3, but this output is still writting the file as a `gz` file.

Config File:
[code]

[2018-08-28 02:50] kakmt commented on #229
Similar issue happened to me.
My case is `%M` in `time_slice_format` is always substituted to `00` with `timekey 3600`.
(eg.: `time_slice_format %Y%m%d/%H%M` -> `20180828/1100`)

But after changing`timekey` to `60` this doesn't occur and works correctly.

Environment:
- fluentd (1.2.4)
- fluent-plugin-s3 (1.1.4)

[2018-08-29 08:15] repeatedly commented on #229
Hmm... I re-check this issue again but it worked on my environment with asumawang's buffer configuration.

- conf

[code]

- object path

`
fluent-plugin-s3-test/test/ts_2018082917/2018082917_0.gz
`

- env

fluentd: v1.2.5
fluent-plugin-s3: v1.1.4

@kakmt If you use `%M`, you need to use `timekey 60`. If you use `timkey 3600`, values are stored into 1 hour range and it doesn't have %M precision: h

[2018-09-03 08:35] umutkocasarac commented on #237
Hi,
I am also facing the same issue. I am not sure what could I provide you for further investigation.  My s3 configuration could be found at the below. Fluentd plugin should send the logs in a hour but I could still see the buffer* files belongs to 4 days before.

<store>
        @type s3
        s3_bucket name_ofthe_bucket
        s3_region us-east-1
        path prod/
        <buffer tag,time>

[2018-09-12 14:07] vimalmpatel commented on #240
@cosmo0920 anyone looking into this issue ?

[2018-09-13 02:11] cosmo0920 commented on #240
It is connectivity issue.
Did you get large object from S3?
See: https://github.com/aws/aws-sdk-ruby/issues/1034

[2018-09-13 14:41] vimalmpatel commented on #240
@cosmo0920 it is very small file. i tried with every possible option here. s3 output works fine with different config. s3 input only causing this issue.

here is my latest config file.

[2018-09-14 02:15] cosmo0920 commented on #240
in_s3 had been written by @okkez.
@okkez Dou you know why this error ocurrs?

[2018-09-17 18:08] discordianfish commented on #233
Since I just came across this, just a little reminder that the docs still use the old syntax.

[2018-10-08 16:49] lel085 commented on #240
I am getting below error
2018-10-08 16:38:14 +0000 [error]: #0 unexpected error error_class=Seahorse::Client::NetworkingError error="execution expired"
@okkez Can you please say why this errors? Any solution to fix the issue?

[2018-10-09 01:32] lel085 opened #245 "error_class=Seahorse::Client::NetworkingError error="execution expired" when Using s3-Input plugin"
I am trying to use the s3-input plugin for reading data as per the document.
but, I am getting below error
2018-10-08 16:38:14 +0000 [error]: #0 unexpected error error_class=Seahorse::Client::NetworkingError error="execution expired"
@okkez Can you please say why this errors? Any solution to fix the issue?
I used below config for s3 _input

[code]

Here is the Logs:

[code]

[2018-10-12 20:21] purva1192 opened #246 "<Assume_role_credentials> throw MissingCredentialsError"
I am running fluentd in a Kubernetes cluster. When configuring the `s3_out` plugin, instead of providing the `access_key` and the `secret_key`, I used the `<assume_role_credentials>`. My s3 configuration looks like this -

[code]

However, I get the following error
[code]

I should be able to access AWS without providing the `access key and secret key`.

Can anybody provide more details about it?

[2018-10-15 08:03] repeatedly commented on #246
Does anyone have an idea for this error?
On my environment, `<assume_role_credentials>` works corretly and I first see "unable to sign request without credentials set" error.
So I'm not sure how to resolve this error.

[2018-10-17 07:17] jiachenzhong commented on #246
I am also the same mistake, only AK+SK can use.

[2018-11-06 01:17] jordo1138 opened #247 "if aws_key_id and aws_sec_key are declared, no assume role takes place"
I have found that for s3 input, if you declare the aws_key_id and aws_sec_key, they do not then get used in order to try and assume the role given.
In my my case, my readonly role for a cross-account bucket was granted to my iam user which has the key and secret key I put. But seems the s3 api tries with the directly with the key and secret key and doesn't not try to assume the role given.
In the

[2018-11-06 04:45] jordo1138 commented on #247
separate issue, when I did go to use assumeRole for input I"m getting the same "region not set" error that seems to have been fixed with #122 back in 2015 but was only fixed for out, not input.rb @okkez

[2018-11-06 20:12] jordo1138 opened #250 "Input SQS queue name not added to the URI properly when using AssumeRole"
After locally fixing the input set region issue #249 , I found a interesting bug where when assuming the role, I am able to assume the role, successfully send listbucket request and then when it creates the sqs client and url to use, I get a 400 bad request because the queue name cannot be found for this wsdl.
But after inspecting using fluentd -vv it's clear the issue is that although my fluent.c

[2018-11-07 00:58] jordo1138 commented on #250
modified to handle cross account id that owns the sqs queue when getting the Queue url per https://docs.aws.amazon.com/sdkforruby/api/Aws/SQS/Client.html#get_queue_url-instance_method
it's in the pull request now #249

[2018-11-08 01:06] timuckun opened #251 "works fine on my laptop when tailing logs but fails when trying to log from docker-compose"
I have the following configuration
[code]

I can fill that file and it ships the logs to S3 no problem.

I then create a container with fluentd and this plugin and try to ship docker logs the configuration is the same as above except the source is now

[code]

The fluentd container comes up, the stdout output works. I can see the logs on the screen, there are no errors  but nothing shows up on S3.

[2018-11-08 22:01] jitran opened #252 "Why is s3:GetObject permission required for td-agent 2.3.6"
Hi

We are using the latest stable td-agent 2.3.6 release (fluent-plugin-s3-0.8.5, fluentd-0.12.40). When the s3 plugin generates an s3 object key that already exists, it throws an 'Aws::S3::Errors::Forbidden' error.

We have granted the following IAM permissions for our S3 Log bucket:
[code]

Here are the s3 output plugin configuration details to replicate the issue. It creates a minute based s3

[2018-11-08 23:04] repeatedly commented on #252
Yes

I'm not sure... if you have a better idea, please let me know.

[2018-11-08 23:47] jitran commented on #252
Hi @repeatedly,

Have you considered S3::Client::client.list_objects_v2:
* https://docs.aws.amazon.com/sdk-for-ruby/v3/api/Aws/S3/Client.html#list_objects_v2-instance_method
* https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.list_objects_v2 (more details on usage)

You could set the Prefix parameter to the destination filename such as 'path/test_log_2018

[2018-11-08 23:54] jitran commented on #252
Alternatively, try s3:GetObjectAcl. It will fail if the upstream file doesn't exist. https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGETacl.html

[2018-11-09 00:12] repeatedly commented on #252
Really? We use `head` operation and it gets only metadata.

https://github.com/aws/aws-sdk-ruby/blob/cce86987c17a7593cbc6546b32c83dd405c245ab/gems/aws-sdk-s3/lib/aws-sdk-s3/waiters.rb#L114

`head` is slower than `list` or `GetObjectAcl`?

[2018-11-11 06:07] jordo1138 commented on #251
in the end just follow this guide, save a ton of time and do the filtering/concatenating first for sending to s3, your source and match need to change if you're using the default docker logging also
https://docs.fluentd.org/v0.12/articles/docker-logging

<match **>
    @type stdout
</match>
[code]

[2018-11-11 19:29] jordo1138 commented on #251
@timuckun if you followed that guide I assume you have fluentd as the docker logging driver?
You can trouble shoot this to see..i think your match isn't working or your logging driver isn't set to fluentd..the default is json
[code]

[2018-11-13 00:07] DStorck commented on #234
fixed by #235 and already merged, this can be closed

[2018-11-13 01:01] #234 closed

[2018-11-13 01:01] okkez commented on #234
Thanks!

[2018-11-14 20:20] TaLoN1x opened #253 "impossible to use variable in s3_bucket"
It seems to be impossible to use variables in s3_bucket.

My use case is to store events in different s3 buckets based on the event tag.

When I'm trying to specify bucket name like this:
s3_bucket s3-${tag}

I've also tried to use parts of the tag like ${tag[1]} without success. Is there any option to make it possible with any workaround?

[2018-11-14 20:29] TaLoN1x commented on #253
P.S. using td-agent 3.2.1

[2018-11-14 23:48] jayhding commented on #245
Seems as #240 and I have met same problem.

[2018-11-15 02:35] jayhding commented on #240
@vimalmpatel @lel085 could you turn on fluentd debug log level so more logs can be seen?
Reference: https://docs.fluentd.org/v1.0/articles/logging

I just found bugs of setting up proxy for S3 and SQS in the code, see https://github.com/fluent/fluent-plugin-s3/pull/254

However, to me looks like your failure reason is different.

[2018-11-15 03:42] repeatedly commented on #252
Maybe, default behaviour can't be changed because it breaks existing environment.
Need option for it like `use_acl_for_object_chck`.

[2018-11-15 03:44] #250 closed

[2018-11-15 03:44] repeatedly commented on #250
Merged PR.

[2018-11-15 03:50] repeatedly commented on #240
If the plugin's authn/authz setting has a problem, API returns an error.
But this case is timeout. It means HTTPS request is blocked by something.
Need debug information to debug which point is timedout.

[2018-12-04 01:07] repeatedly commented on #253
Currently, no way because out_s3 uses static bucket value in `start`.
To support dynamic bucket, need to move getting bucket in `write` and need to use `extract_placeholder` for it.

https://github.com/fluent/fluent-plugin-s3/blob/3c7b89b637c0688eddf50d08a199171287b3650f/lib/fluent/plugin/out_s3.rb#L213

[2018-12-06 15:39] TaLoN1x opened #260 "compute_checksums not working with self hosted S3 solutions"
If I understand correctly compute_checksums true should make fluent to calculate MD5 checksum for object and validate it during S3 upload. I have configuration like this and my object doesnt seem to have MD5 checksum calculated for it, nor I have any errors in logs:

<match test.**>
@type s3

aws_key_id somekey
aws_sec_key someotherkey

s3_bucket test-bucket
check_bucket true
auto_create_bucket tr

[2018-12-07 21:13] repeatedly commented on #260
How to check it?
MD5 calculation is done by aws-sdk-ruby.
S3 stored object doesn't have metadata for this?

[2018-12-07 21:20] TaLoN1x commented on #260
Yes, S3 object doesn't have metadata. I've checked with minio and scality S3 solutions

[2018-12-08 04:17] repeatedly commented on #260
https://github.com/fluent/fluent-plugin-s3/blob/3c7b89b637c0688eddf50d08a199171287b3650f/lib/fluent/plugin/out_s3.rb#L211
https://github.com/aws/aws-sdk-ruby/blob/40946f6b6b9a6284d8c8b74bc514a11fc5a1f773/gems/aws-sdk-s3/lib/aws-sdk-s3/client.rb#L153

From the code, passing `compute_checksums` parameter seems correct.
Could you check aws-ruby-sdk behaviour without fluentd?
Here is document for aws-

[2018-12-14 14:03] Trane9991 opened #261 "How-to monitor s3 uploads lagging behind?"
Hello.
We are using fluentd to do some events processing and uploading to s3.
Once we just start using it uploads started to lag behind until we increased `flush_thread_count`. I want to prevent this happening in the future (or at least to be notified when this happens), So I enabled the `monitoring_agent` source and configured metrics publishing to AWS CloudWatch, so the question is, what metrics

[2018-12-14 20:58] repeatedly commented on #261
`> 1` is correct, right?

It depends on your traffic.
If your traffic is large, sometimes buffer_queue_length is largar than 1.
In addition, if AWS S3's API or your network has a temporal problem, buffer_queue_length is also larger than 1.
If you want to monitor any problem, lower alert setting is fit I think.

[2018-12-17 13:21] #261 closed

[2019-01-03 16:06] Trane9991 opened #262 "Logs missing after s3 upload"
Hello,
We are using Fluentd to tail files with JSON events (new file created every 10 minutes), group the events by some id and upload to s3.
During one of the events generation spike, we noticed that the big number of these events are missing in the resulted files on S3, we basically `grep`ed the events by some keywords in the origin files and in the resulted files downloaded from s3, result even

[2019-01-03 16:30] Trane9991 commented on #262
I see the in the documentation next line:

Is it possible, if during events generation spike new file created with tons of lines but fluentd picking up new ones only once per minute, so it skips all the lines generated before it started reading the file?

Does this means that setting `read_from_head` to `true` could resolve my issue?

Also, I see the following not in the documentation:

Is it true

[2019-01-03 22:43] repeatedly commented on #262
If you use `*` in in_tail `path` paramter, it may happen. Check `read_from_head true` is important.

If the file exists in pos_file, reading file starts at pos_file recorded position. So impact should be small.

Other tip. If buffer files are flushed concurrently during the spike, setting `%{uuid_flush}` or `%{hex_random}` in `s3_object_key_format` may help to avoid object overwritten.
If uploadin

[2019-01-04 07:49] Trane9991 commented on #262
Thanks.
I will try `read_from_head true` and see if it helps.

We have versioning enabled on the bucket, so I checked that files not being overwritten in this case, but thanks for the tip!

[2019-01-04 20:07] matt14483 opened #263 "S3 output hardcodes amazon domain"
The s3 output plugin takes the region, bucket name, and assumes amazonaws.com for the s3 endpoint.  However, some other environments do not use amazonaws.com, and rather a different domain for the s3 endpoint.  If we can make that a parameter, I can avoid a DNS mess to get my data to the proper endpoints.

[2019-01-05 17:13] repeatedly commented on #263
You can use s3_endpoint for that case: https://github.com/fluent/fluent-plugin-s3#configuration-output

[2019-01-15 13:55] Trane9991 commented on #262
`read_from_head true` helped!

[2019-01-15 13:55] #262 closed

[2019-01-25 21:41] BuckarewBanzai commented on #246
Was a solution ever found for this? Experiencing the same issue when trying to use instance profile credentials.

[2019-01-28 23:06] repeatedly commented on #246
We need help from AWS expert to investigate deeply.
For example, this error happens whenno `~/.aws/credentials` and no aws related environment variable.
I'm not sure full spec of AWS client but this comments show how to process credentials: https://github.com/aws/aws-sdk-ruby/blob/97b28ccf18558fc908fd56f52741cf3329de9869/gems/aws-sdk-core/lib/aws-sdk-core/plugins/credentials_configuration.rb#L42

[2019-01-28 23:08] repeatedly commented on #260
This seems aws-sdk-ruby issue. Closed for now.

[2019-01-29 04:40] BuckarewBanzai commented on #246
Solved my issue today. Did not have enough permissions for the plugin to access the bucket. Minimum requirements seem to be list bucket and put.

[2019-01-29 09:00] repeatedly commented on #246
For that case, the error should be AccessDenied. Did you get MissingCredentialsError instead of AccessDenied with lack of permission?

[2019-01-30 12:56] bartelsb commented on #183
We are also experiencing this problem at my organization. In our case, it seems to _always_ be accompanied by 0 byte metadata files and 0 byte log files. We haven't determined which of the two causes the plugin to actually hang, or if both can do this.

I believe we're using v1.1.3 of the plugin.

[2019-01-30 13:24] repeatedly commented on #183
How about latest fluentd and fluent-plugin-s3? still happens?

[2019-01-30 13:31] bartelsb commented on #183
We'll be upgrading to that shortly (we hope). I can report back if we're still seeing it after upgrading.

[2019-02-04 18:57] kuzukami commented on #252
I have the same problem around 'check_object=true' setting.  It would be better that it is clarified that 'check_object=true'  requires 's3:GetObject'-allow policy on the document.

[2019-02-12 08:10] jordo1138 commented on #247
Closed after #249

[2019-02-12 08:10] #247 closed

[2019-03-07 10:02] shigemk2 opened #267 "AWS Signature Version 2 Deprecation for Amazon S3: AWS-SDK version 3 support?"
AWS document says:

https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html

AWS tells us to upgrade to Ruby V3.

Do you have any plans?

[2019-03-08 05:27] cosmo0920 commented on #267
We already supported and depended on AWS SDK v3:
https://github.com/fluent/fluent-plugin-s3/blob/master/fluent-plugin-s3.gemspec#L21

AWS SDK uses Signature Version 4: https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk-s3/lib/aws-sdk-s3/plugins/s3_signer.rb

Do you have a trouble for AWS Signature Version 2 in this plugin?

[2019-03-08 06:25] shigemk2 commented on #267
@cosmo0920
Sorry for my misunderstanding.
I confused aws-sdk-s3 with aws-sdk. fluent-plugin-s3 will use version 3 aws-sdk by installing aws-sdk-s3.

https://github.com/aws/aws-sdk-ruby#installation

[2019-03-14 01:24] cwhatley opened #268 "Fluentd on EKS: MissingCredentialsError when expecting it to use instance profile creds"
I am using fluent/fluentd-kubernetes-daemonset:v1.3-debian-s3 in a daemonset and properly setting S3_BUCKET_NAME and S3_BUCKET_REGION, but it seems to be choking on trying to get credentials from the instance profile.

Any idea what's the cause?

Errors below:

2019-03-14 01:18:04 +0000 [error]: #0 unexpected error error_class=Aws::Sigv4::Errors::MissingCredentialsError error="missing credentials,

[2019-03-14 13:58] cwhatley commented on #268
I explicitly added the instance_profile_credentials to the block and now it is working. Should that be required? The docs seem to say that you can have only the bucket and region and it should work.

[2019-04-09 14:01] amitdhawan opened #270 "Sqs event not received when fleuntd restart"
There are events living in my sqs queue and fluentd is initially in a stopped state.
Now when I start fluentd will the events be fetched by fluentd as soon as start or after some time automatically. In my case I never get the events in fluentd when I start fluentd and events are already existing in sqs.

Thanks for the help in advance.

[2019-04-11 06:48] amitdhawan commented on #270
@repeatedly Any idea on this?

[2019-04-12 10:24] amitdhawan opened #271 "Plugin unable to read file size of 4GB. Is there any upper limit?"
Check CONTRIBUTING guideline first and here is the list to help us investigate the problem.

fluentd or td-agent version.
td-agent 1.3.3

Environment information:

Operating system: cat /etc/os-release
NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.5 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/

[2019-04-12 16:53] amitdhawan commented on #271
Here is the log of top command and shows whole residence memory is consumed by ruby and also the CPU usage in 100%
<img width="602" alt="Screen Shot 2019-04-12 at 7 53 45 PM" src="https://user-images.githubusercontent.com/14885126/56053390-955b7f80-5d71-11e9-882f-296fe344bf7b.png">

@repeatedly any help

[2019-04-12 16:56] amitdhawan commented on #271
This is the same as this issue
https://github.com/fluent/fluentd/issues/2379

[2019-04-12 20:51] repeatedly commented on #271
I think no limit for target file.
But fluentd focuses on streaming data with lower latency so fluentd is not optimized for 4GB archive data. Embulk or other batch/bulk loader is fit for such cases.
Consuming resource seems normal. Decompress 760MB -> 4GB, parsing 4GB in input, format 4GB in output needs CPU power.

[2019-04-13 06:00] amitdhawan commented on #271
So do u mean to say I can process large files in parallel from S3 using embulk?

And is fluentd meant for streaming real time logs rather than processing large files in a go?

[2019-04-13 16:44] amitdhawan commented on #271
@repeatedly I did a small poc on embulk and got the impression that is a bulk importer of data from S3 by using a trigger by command line and doesn't fit my requirement of importing data on the trigger of file upload on s3 which fluentd does so.

[2019-04-14 16:09] amitdhawan commented on #271
@repeatedly I can now see memory going full throttle even if I consume 200mb gz file from s3. The Ruby aommand is taking full cpu power and memory.
Do I need to do some optimizations in terms of Ruby or fluentd to make all this work.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________

Amit Dhawan
Lead Software Engineer
Monotype Solutions India Pvt. Ltd.
Fourth Floor

[2019-04-16 06:27] repeatedly commented on #271
@okkez Do you have any insight for this?
With 200mb gz, fluentd will take 200mb + uncompressed 200mb (maybe 400+mb) + more(new events from file) memory. So I assume fluentd temporarily consumes about 1G for this case. CPU usage seems to depend file content and kinesis output implemetation.

[2019-04-25 16:21] Jonnymcc opened #272 "Missing permission regarding SSE?"
Using the IAM policy specified in the README with GetObject, PutObject, and LIstBucket.

[code]

[2019-04-25 16:34] repeatedly commented on #272
Do you mean your configuration works whithout SSE parameters?

[2019-04-25 17:50] Jonnymcc commented on #272
I have no SSE config set, yet it fails to flush to S3.

[code]

[2019-04-25 20:42] Jonnymcc commented on #272
I think I had a leading / in my key path which was causing the issue, works now.

[2019-04-25 20:42] #272 closed

[2019-05-01 13:58] serain opened #273 "Logs shipped with wrong timestamp and timekey ignored"
I want to ship my logs to s3. Based on [this issue](https://github.com/fluent/fluent-plugin-s3/issues/187) I did this:

[code]

What I'd expect is for my logs to be shipped to S3 every 30 minutes, and be formatted in directories as ie: `logs/2019/05/01/1030`

Instead my logs are shipped every 2-3ish minutes on average, and the output time format in S3 is starting from the epoch ie: `logs/1970/01/0

[2019-05-12 16:09] #273 closed

[2019-05-13 02:57] #208 closed

[2019-05-13 02:57] repeatedly commented on #208
Latest fluent-plugin-s3 uses v3.

[2019-06-05 18:56] dvfeinblum opened #276 "Need log filenames to contain %M but don't want a file per minute"
I've looked at the previously closed issues and none of them address this use case.

I'd like fluent to cut logs every 5 minutes, but I need the minute value to be in the log name. So, in my bucket, I'd want to see:

[code]

I know how to achieve this by altering my `time_slice_format` to be `%Y/%m/%d/%H/%M-` and then setting `s3_object_key_format` to `%{time_slice}logname.log.%{file_extension}`,

[2019-06-06 05:59] repeatedly commented on #276
`timekey 300` and time based placeholder don't work?
I'm not sure why you use v0.12's `time_slice_format` in v1.

https://github.com/fluent/fluent-plugin-s3#v10-style

[2019-06-06 12:28] dvfeinblum commented on #276
Ah; this explains quite a bit. It turns out we're still back on v0.12.40. I'll see about upgrading.

On the off chance that we can't upgrade, is there a way to set `timekey` via the older config? Thanks for your quick response!

[2019-06-17 14:57] kochp opened #277 "S3 Input: Need S3 Meta-information like Path in bucken"
Hi everybody,

I am using the Plugin as imput from an S3 bucket.
Therefore the files will be stored in a specific path blow the S3 bucket. This Information is important for me to know.

Is there a possibility to add this meta information to the Log-Message or as part of the tag?

I did not find any option in the direction or did I miss something?

[2019-06-17 15:35] ozonni commented on #160
we also encountered the same problem. The main reason for us to use s3 plugin was to reduce costs for storing huge log files. We use fluentd+s3 next to regular ELK-like solution. But now actually we are paying more for s3 as we would pay to increase our main log storage.

[2019-06-17 16:48] atkinsj commented on #277
+1. Having the object key exposed as a variable to be used in routing would be helpful.

[2019-06-17 19:25] kochp commented on #277
I just found this pull request (https://github.com/fluent/fluent-plugin-s3/pull/220) and tried with an locally created gem based on that PR and it worked fine.

I am just wondering why it is not merged into the this project.

[2019-06-17 23:06] atkinsj opened #278 "S3 input: delete data after ingest"
A config flag to delete the file after its been processed would be optimal. Are people using other alternatives?

[2019-06-18 03:18] ganmacs commented on #277
FYI: https://github.com/fluent/fluent-plugin-s3/releases/tag/v1.1.11 released

https://github.com/fluent/fluent-plugin-s3/blob/15915d83e9461929e19a78fa0d5a01fbcf6ceb39/ChangeLog#L1-L4

[2019-06-21 22:36] atkinsj opened #279 "Ability to poll rather than bucket notify via SQS"
The ability to read a poll a bucket using access key/secret would be immensely helpful: we have a few use cases where we receive an S3 bucket path and key/secret from a vendor and we can't use this plugin to read logs from it because we can't configure bucket notifications, since it's not ours or in our account.

[2019-06-22 09:11] #223 closed

[2019-06-22 09:12] repeatedly commented on #223
Maybe, latest fluentd has already fixied this issue.

[2019-06-22 09:12] #241 closed

[2019-06-22 09:12] repeatedly commented on #241
No response

[2019-06-22 09:14] #277 closed

[2019-06-22 09:14] repeatedly commented on #179
Latest v1 based S3 plugin supports this

[2019-06-22 09:14] #179 closed

[2019-06-22 09:14] #162 closed

[2019-06-23 17:56] #267 closed

[2019-07-08 17:41] atkinsj opened #280 "One SQS queue per S3 bucket?"
Could you confirm if SQS queues should map 1-1 to S3 buckets or if we can have multiple <source> @type s3 </source> attached to one SQS queue?

[2019-07-09 19:13] repeatedly commented on #280
@okkez Could you check?

[2019-07-18 14:56] sokoow opened #281 "minio support?"
Hey, is this supporting minio by any chance ? So a cred pair and a custom url ?

[2019-07-18 14:57] sokoow commented on #281
ah, I see it now: https://docs.fluentd.org/how-to-guides/apache-to-minio

[2019-07-18 14:57] #281 closed

[2019-07-27 17:18] vaibhavt19 opened #282 "FluentD S3 output no name in directory"
FluentD Version: fluentd:v1.6
Issue: FluentD writing the data on two places one directory name is blank
FluentD configuration.
[code]
S3 Output

![image](https://user-images.githubusercontent.com/47231265/61997547-8ac6bb00-b0c0-11e9-9fd8-8229e2ae0a42.png)

Logs are visible on both locations.

[2019-07-29 01:25] repeatedly commented on #282
Maybe some records doesn't have `type` field in the record.

[2019-07-30 15:06] vaibhavt19 commented on #282
Yes, you are right.
But these logs are not generated by us. Somehow FluentD generating its own logs and parsing it to output. No idea where to configure this or it's the default behavior.

[code]

[2019-07-31 04:05] repeatedly commented on #282
Hmm... fluentd itself doesn't generate such logs.
Here is the result of grep with `Finish`.

[code]

So maybe, I assume 3rd party plugins generate it or something.

[2019-08-01 13:01] vaibhavt19 commented on #282
Thanks for the guidance.
I have disabled the logs from fluentd as well on Docker containers. But still below logs getting generated on the S3 output. Could it be an issue with the docker itself?

[code]
[code]

[2019-08-01 22:11] atkinsj opened #283 "Instance profile credentials not working with ECS"
Using the following deps:

[code]

and the config:
[code]

results in:
[code]

This configuration worked under EC2. The same IAM role applied to the ECS task results in this error. Are there additional IAM roles or configuration required for ECS?

[2019-08-01 22:36] atkinsj commented on #283
Confirmed with:

`curl "http://169.254.170.2$AWS_CONTAINER_CREDENTIALS_RELATIVE_URI"`

that I have connectivity and the correct permissions to be able to get temporary tokens from that URI.

SDK versions look recent enough to have ECSCredentials. Any idea what's going on?

[2019-08-01 22:54] atkinsj commented on #283
https://github.com/fluent/fluent-plugin-s3/blob/cbc705141b556bb61452dc801dc23a278188f597/lib/fluent/plugin/out_s3.rb#L437

The switch to use ECSCredentials only appears in `out_s3` and not `in_s3`.

[2019-08-08 02:51] danielzepp opened #284 "How to force flush logs?"
Hi, i am using kubernetes and fluentd on daemonset (via kops)

I'm worried about losing logs when the node shuts down.

case 1. kops rolling update
case 2. AWS spot instance termination.

How to force flush logs? send something signal?

[2019-08-09 16:22] repeatedly commented on #283
So this issue for input plugins?

[2019-08-09 16:45] atkinsj commented on #283
Yeah. The output plugin correctly uses ECSCredentials or
InstanceProfileCredentials, but the input plugin doesn’t.

On Fri, Aug 9, 2019 at 9:22 AM Masahiro Nakagawa <notifications@github.com>
wrote:

[2019-08-11 14:47] pinge commented on #284
You can easily force flushing the logs to AWS S3:

[code]

from:
- https://docs.fluentd.org/deployment/signals
- https://support.treasuredata.com/hc/en-us/articles/360000687108-Overview-of-Server-Side-Agent-td-agent-

[2019-08-13 07:29] prtk-ngm commented on #179
same configuration is not working with 1.1.11 version out_s3 plugin

[2019-08-13 09:46] prtk-ngm commented on #31
please provide example how we can integarte forest plugin with s3 plugin to give dynaminc tag support in path

[2019-08-16 03:33] ganmacs commented on #179
Could you show us the full configuration?

[2019-08-21 17:45] paulorsbrito commented on #237
The same here. Because of this, I'm getting "too many open files" and have to clear logs manually now and then.

[2019-08-23 14:45] sonalkr132 commented on #280
any word on this? Seems like we are using bucket defined in `s3` config to get keys in `sqs`. so this must be a requirement?
https://github.com/fluent/fluent-plugin-s3/blob/8e344e21ff611d6fe7dc52241963cb4a44ef0beb/lib/fluent/plugin/in_s3.rb#L264

[2019-09-05 03:21] okkez commented on #280
We should use one SQS queue per one s3 input plugin section.
If you use multiple s3 input plugins with one SQS queue, you will face a terrible situation that one input s3 plugin will consume all SQS messages or one input s3 plugin will consume unexpected SQS messages.

[2019-09-09 14:23] m-revetria opened #287 "Support for user-agent-prefix setting"
With AWS SDK, it is possible to set the property [Configuration#user_agent_prefix](https://docs.aws.amazon.com/AWSRubySDK/latest/AWS/Core/Configuration.html#user_agent_prefix-instance_method) which will be used for every request against AWS services.

Currently, the project I'm working on needs to set this property in order to comply with AWS, they has requested that we identify requests that we m

[2019-09-17 04:16] danielzepp commented on #284
@pinge Thanks! resolved 😀

[2019-09-17 04:16] #284 closed

[2019-09-18 13:27] ZP-AlwaysWin opened #288 "Is there a source code for this version 0.8.5"
For example：

gem 'fluent-plugin-s3' version '0.8.5'

Is there a source code for this version 0.8.5

[2019-09-18 13:31] repeatedly commented on #288
under gem directory in your ruby.
Use find or other command to get full path.

[2019-09-18 13:40] ZP-AlwaysWin commented on #288
thanks your reply，I find it in gems directory in my ruby.
but I want find unit testing

[2019-09-18 13:59] repeatedly commented on #288
test files are under test directory in gem directory.

[2019-09-19 02:55] ganmacs commented on #288
[code]

here is my local env example.

[code]

[2019-09-19 02:55] #288 closed

[2019-09-19 04:24] ganmacs opened #289 "Supoort private s3 storage like ceph s3"
original: https://github.com/fluent/fluent-plugin-s3/pull/188
related: https://github.com/fluent/fluent-plugin-s3/pull/285

[2019-10-03 17:39] hlx98007 opened #290 "Add the actual Object metadata when add_object_metadata is enabled"
AWS s3 object has customizable metadata, the aws CLI version of getting the custom metadata is located here: https://docs.aws.amazon.com/cli/latest/reference/s3api/head-object.html

While I think the bucket & key is useful but it would be more powerful to add the custom metadata into this configuration.

[2019-10-16 08:43] qburst-anoop commented on #273
@serain How will you fix this issue?

[2019-10-16 09:08] qburst-anoop opened #292 "Issue with the date format"
I have two td-agent server one having version 1.2.2 (sender) and another 0.12.40 (receiver). I used to forward the log to both s3 and elastic search. The date format is just fine in elastic search but in S3 file is created to a past date (1970-01-01). Please find the configuration below.

**Sender (1.2.2)**
[code]

**Receiver (0.12.40)**

[code]

The expected output format in S3 is `app_2019101606

[2019-10-16 19:04] sadhasivam opened #293 "Local Development Help"
We use kubernates/fluentd cluster and issue `instance_profile_credentials` options for S3 writes.
Local docker development conflicts with the above setup and forcing us to use "shared_credentials".

Please share some thoughts on how we can work

[2019-10-17 03:55] repeatedly commented on #292
This seems time is `nil` or `0` for time slice processing.

[code]

`out_stdout` also prints similar result?

[2019-10-17 07:00] qburst-anoop commented on #292
The same log is writing to elastic search (aws-elasticsearch-service) and everything works as expected there. But the issue is only writing to s3

[2019-10-22 13:50] TomMizrachi opened #294 "S3 Input: excessive memory usage"
When trying to read chunks of data from S3, fluentd memory usage is around 7GB - for an incoming 70MB gzipped log file (700MB after decompressing) in a 5 minutes creation interval.

Is this a known issue? If so is there any solution for it?

In advance this is my configuration file:
[code]

[2019-10-22 13:56] TomMizrachi commented on #294
Also I've noticed that the entire log is being fed into a MultiEventStream object and only afterwards is being emitted to fluentd.
https://github.com/fluent/fluent-plugin-s3/blob/master/lib/fluent/plugin/in_s3.rb#L266-L276

will it help emitting each event separately? or at least be able to control the amount of the events (bulk size)?

[2019-10-22 20:34] dobesv commented on #221
Looks like there is a plugin that supports parquet:

https://github.com/joker1007/fluent-plugin-arrow

[2019-10-23 07:00] ksandrmatveyev opened #295 "time_slice is not shown in s3_object_key_format if <buffer tag> is specified"
Hello,

Issue is that %{time_slice} is not shown if <buffer tag> specified. According to https://github.com/fluent/fluent-plugin-s3#v10-style we have to specify <buffer time> if we want to use %Y%m%d%h%M keys. But what about %{time_slice}? does it require <buffer time>, too?

td-agent version: 3.5.0
OS: Windows Server 2016
Config example:
[code]

[code]

I assume that %{time_slice} should work any

[2019-10-25 16:12] konstantin-kornienko opened #296 "Plugin S3 cannot be used in multi workers configuration"
With configuration:
[code]
Got error on start:
[code]
Error **still persists** if configuration changed to:
[code]

is it can be fixed somehow?

td-agent version 3.5.0

[2019-10-28 02:24] ganmacs commented on #296
Your configuration is wrong. `</ worker 0>` should be replaced `</worker>`

[code]

[2019-10-28 02:24] #296 closed

[2019-10-28 14:22] konstantin-kornienko commented on #296
OMG. I'm so sorry! It works, thanks a lot!

[2019-10-30 15:53] freelancerlucas commented on #221
Thanks for sharing. Is there someone who uses that plugin (fluent-plugin-arrow) somewhere? Thanks for any feedback, I haven't checked the code yet.

[2019-10-31 20:29] atkinsj commented on #283
Opened https://github.com/fluent/fluent-plugin-s3/pull/297

[2019-10-31 20:29] #280 closed

[2019-11-01 19:26] ryanjjung opened #298 "S3 plugin does not format time values"
I'm trying to upgrade fluentd in my environment and having trouble getting things to ship to the proper location in S3. What I want (and what has been working just fine on 0.12) is this:

    path "fluentd-json/${role}/${fluent_tag}/%Y/%m/%d"
    s3_object_key_format "%{path}/%{time_slice}_#{Socket.gethostname}_%{index}.%{file_extension}"

This used to get us files in S3 with a path like this:

[2019-11-01 21:01] ryanjjung commented on #298
Ok, I figured it out. It was not immediately obvious from reading the documentation, but it seems that the time variables won't parse in the S3 plugin unless the <buffer> block uses the "time" chunk key.

[2019-11-01 21:01] #298 closed

[2019-11-05 01:52] ekanai opened #299 "Cant get credentials from ECS Task Role"
Hello,

I want use Fluentd on ECS Fargate, but cant get credentials from ECS Task Role.

[2019-11-05 02:07] ganmacs commented on #299
dups https://github.com/fluent/fluent-plugin-s3/issues/283

[2019-11-05 02:07] #299 closed

[2019-11-06 22:22] gumho opened #300 "Aws S3 Forbidden during object check even with full bucket permissions"
We see the following error when trying to output to an S3 bucket where FULL permissions are granted to the instance profile used by the Fluentd s3 plugin:

[code]
Our config looks like this:

[code]

I have seen threads such as https://groups.google.com/forum/#!topic/fluentd/Vvok7FTVuq4 and https://github.com/aws/aws-sdk-ruby/issues/201#issuecomment-288908134 mention that finer privileges are need

[2019-11-07 07:33] mukgupta opened #301 "Add Support for IAM Roles for Service accounts (IRSA)"
AWS recently added a new way of authenticating to AWS APIs for Kubernetes Pods called IRSA. For this to work, the aws sdk being used needs to support two environment variables called `AWS_WEB_IDENTITY_TOKEN_FILE` and `AWS_ROLE_ARN`. The support for the same has been added in Ruby SDK version`3.65.0` as mentioned [here](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-serv

[2019-11-07 18:38] ryanjjung commented on #292
Same here. I have a very similar config that splits logs to S3 and Loggly. The logs come through in Loggly just fine, but in S3, they're dated with absurd timestamps like in the year 1990 and 2056 and dozens of others.

[2019-11-08 00:42] repeatedly commented on #292
@ryanjjung So your setup is send data from fluentd v1 to fluentd v0.12?

[2019-11-11 02:10] #283 closed

[2019-11-12 13:03] AdamVB commented on #292
I'm running the same output config on a regular VM and also as a Daemonset on Kubernetes. On the Regular VM it works just fine. On Kubernetes it also tags everything with 1970.. not only that but the timekey doesn't work either. Its pretty much spamming the bucket with objects every few seconds:

![image](https://user-images.githubusercontent.com/15871966/68673375-e0ca4c00-0553-11ea-8500-1174f9e51

[2019-11-13 07:29] AdamVB commented on #292
Some more interesting info:

when you add `flush_at_shutdown true` to the buffer section and kill the pod it will actually create an object with the correct time:

![image](https://user-images.githubusercontent.com/15871966/68742132-ac0bd280-05ef-11ea-890a-356d3bd454e7.png)

[2019-11-13 15:01] srirachapills commented on #300
How does your IAM role policy looks like?

[2019-11-17 07:47] repeatedly commented on #292
That's weird. flush_at_shutdown doesn't affect actual flush processing...

Is incoming data same between VM and k8s pod?

[2019-11-17 09:49] AdamVB commented on #292
I found out the issue, it was indeed something in the input conf. The vm and pod are using different input.

I used this helm chart conf for the pods:
https://github.com/kiwigrid/helm-charts/blob/master/charts/fluentd-elasticsearch/templates/configmaps.yaml
This one works fine with elasticsearch.

After a lot of trial and error I found out that this part of the conf breaks the timestamps for s3:

[2019-11-21 13:06] bhaveshmodiatekaplus opened #302 "trying sending output to S3 bucket after every 10 min but throwing buffer error when 'time' is used in Buffer argument."
Hi,
I'm trying to export log Application logs to S3 every 5min, but i wanted to store logs in date wise folder like below
ex : S3 path -  platformLog/web/
 2019/11/20/platform_log_0.gz
2019/11/20/platform_log_1.gz
2019/11/20/platform_log_2.gz
2019/11/21/platform_log_0.gz
2019/11/21/platform_log_1.gz.

When i use 'time' argument in buffer section , it is creating lot of meta files and throwing buff

[2019-11-21 19:11] repeatedly commented on #302
It seems S3 plugin can't send data to S3.
No other error logs?

[2019-11-21 19:24] bhaveshmodiatekaplus commented on #302
**please find buffer configuration below**

`<buffer tag,time>`
    `@type file`
   ` path C:\Users\bhavesh.modi\Desktop\Log\Fluentd\s3`
   ` flush_at_shutdown true`
   ` flush_mode interval`
`	flush_interval 2m`
`	chunk_limit_size 10MB`
 `   total_limit_size 1024MB`
`</buffer>`
`	<format>`
`	@type single_value`
`	</format>`
`	time_slice_format %Y/%m/%d/stats_log`
`</match>`

---------------------

[2019-11-22 11:48] bhaveshmodiatekaplus opened #303 "issue related to file transfer to separate folder in date wise folder structure in S3 bucket"
Hi Team,
 I wanted to send my logs to S3 bucket , below is my configuration.

with below config , it should generate 10MB chunk and flush in every 5 min.
IN S3 bucket it should create date wise folder and generate file like below.
**Example :**

**apache/access/2019/11/22/access_0.gz**

But with below configuration it is generating thousands of chunk of size 1KB. ideally it should generate 10MB ch

[2019-11-24 17:57] konstantin-kornienko commented on #294
Same issue for me, after updating to td-agent 3.5.1 (fluent-plugin-s3 1.2.0).
Previous version (td-agent 3.5.0, fluent-plugin-s3 1.1.11) is working fine.

[2019-11-26 00:17] ganmacs commented on #294
I'm not sure but how about using file buffer plugin? you can store data to file instead of memory while processing internally.

[2019-11-26 09:36] konstantin-kornienko commented on #294
@ganmacs , buffer plugins are for outputs only... We're talking about S3 input (source).

[2019-11-26 19:00] ganmacs commented on #294
Right. I know that. I'm suspecting that increasing memory is caused by storing data(from S3 input) on memory buffer because of not using file buffer.

[2019-11-27 11:21] konstantin-kornienko commented on #294
Understood. In my case I'm using elasticsearch output and use memory buffer:

Is that you wrote about? Thanks!

[code]

[2019-11-28 07:46] bhaveshmodiatekaplus commented on #246
After giving ListBucket and putobject permission also , we are facing same issue.
Can any one please tell minimum permission required. Thanks in advance :)

[2019-12-11 07:23] boenr1 commented on #263
The s3_endpoint is deprecated: https://docs.fluentd.org/output/s3

[code]
So is there another possibility? I also want to use the s3 output with an storage grid S3 and not AWS.

[2019-12-11 07:48] repeatedly commented on #263
s3_endpoint should work with compatible service. Check s3_endpoint in README: https://github.com/fluent/fluent-plugin-s3

We will remove s3_endpoint from official article because it is deprecated for main purpose...

[2020-01-13 10:01] konstantin-kornienko commented on #294
Have died fluentd instance, which tried to process 23 MB gzipped logs file :(
4GB RAM on instance isn't enough for this task  :(

[2020-01-14 02:08] #301 closed

[2020-01-20 20:35] Nabilliban14 opened #306 "Buffer Flush Error, but Logs still show in S3"
Hi! I've been using the s3 plugin to forward syslogs to fluentd to s3. However, I realized that I keep receiving a buffer flush error:

`2020-01-20 19:37:43 +0000 [warn]: #0 failed to flush the buffer. retry_time=0 next_retry_seconds=2020-01-20 19:37:44 +0000 chunk="59c796d420eec665f926df6296d5f315" error_class=Aws::S3::Errors::AccessDenied error="Access Denied"

2020-01-20 19:37:43 +0000 [warn]:

[2020-01-21 06:23] repeatedly commented on #306
Does anyone know how to resolve this issue?
I never hit this situation so I can't have an answer.

[2020-01-21 23:10] Nabilliban14 commented on #306
@repeatedly Thank you for the quick response. Turns out that the KMS policy on the s3 bucket did not have my EC2 role listed with write permissions. Therefore, even though my EC2 role had kms write permissions enabled, the kms policy was denying it access. Sorry for the trouble, and thank you for your help!

[2020-01-21 23:10] #306 closed

[2020-01-22 14:58] kvr12294 commented on #260
@TaLoN1x What happens when the integrity check fails. Does it drop the file that is being uploaded or is there a way it tells you that the file was tampered with on it's way to S3?

[2020-01-30 02:41] bit-wrangler commented on #303
Have you ever found a solution to this problem?

[2020-02-01 02:30] dobesv commented on #153
https://github.com/takebayashi/fluent-plugin-avro

[2020-02-12 08:38] #292 closed

[2020-02-14 15:26] eredi93 commented on #221
@freelancerlucas did you end up trying the https://github.com/joker1007/fluent-plugin-arrow plugin?

I also want to have Parquet events in S3 and looking at how i can achieve that

[2020-02-20 00:06] bin3377 commented on #294
I have exactly same issue when trying to ingest S3 log from cloudflare log push. After tuning the config looks like it finally works on 4G RAM with 1xxM zipped file. The output is not related since it's even got `Worker 0 finished unexpectedly with signal SIGKILL` when using null output. And also tried 1.1.11 version but no help

[2020-02-20 23:00] eredi93 commented on #221
@dobesv have you tried the plugin? i just found an issue: tl;dr it doesn't work with the current version of `td-agent`

[2020-02-21 00:57] dobesv commented on #221
I tried to get it working but it seems to crash if I give it data that doesn't match the schema.  It's still a work in progress for me, but now I'm thinking I'll output JSON and run another process to periodically convert JSON to Parquet instead.

[2020-03-10 16:39] freelancerlucas commented on #221
Thanks guys for the input, today I just started working on this topic. I will let you know about the progress, but I was also thinking about running another process to convert JSON to Parquet.

[2020-03-30 04:35] rverma-jm opened #312 "Bump aws sdk to support IRSA"
Can we bump aws sdk to v2.11.345 to support IRSA base authentication in eks. as mentioned here https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

[2020-03-30 04:59] repeatedly commented on #312
We have already used latest aws-sdk v3. We don't use older and deprecated aws-sdk v2 anymore :)

[2020-03-30 04:59] #312 closed

[2020-03-31 09:13] Ramneekkhurana commented on #268
@cwhatley , where are you able to see these logs, i am facing a similar issue but can't see anything in the fluend container logs

[2020-03-31 09:15] Ramneekkhurana commented on #237
is SQS a must ?

[2020-04-01 02:42] csolidum opened #313 "S3 Access Point support"
It looks like the s3 output plugin doesn't support making requests via S3 access points.

According to the [access point docs](https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html#access-points-monitoring-logging), you would need make the s3 endpoint  point to `<access_point_name>-<account_id>.s3-accesspoint.<region>.amazonaws.co`. setting the s3_endpoint config option to this

[2020-04-01 04:13] ganmacs commented on #313
You can use access point docs without s3_endpoint.
Set `s3_bucket` to arn of access point like  `arn:aws:s3:us-west-2:123456789012:accesspoint/prod` in example of https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html#access-points-monitoring-logging

[2020-04-01 04:13] #313 closed

[2020-04-11 22:49] lrivera-verimatrix opened #315 "Missing event writing to S3 when sending 200 concurrent requests"
We are experiencing data loss when writing our events to S3 using the below configuration. We do see everything in STDOUT, and to the FILE, but not in S3. We do not really know what is wrong, and it would be very helpful if someone could point out what might be wrong here. Or is this a bug?

This is using and EC2 with the Amazon version of td-agent: td-agent-3.6.0-0.amazon2.x86_64. The S3 is in th

[2020-04-20 14:39] KSVarun opened #317 "Issue with sending different log files to s3 using fluentD"
Hi All,

I am trying to send tomcat log files to s3 under different directories for each log file, like catalina, access etc. But all the logs are being merged in to a single directory.

Below is my config,
[td-agent-conf.txt](https://github.com/fluent/fluent-plugin-s3/files/4504157/td-agent-conf.txt)

Only the error directory is being created in the s3 bucket. I believe it is not matching the sec

[2020-04-20 15:08] KSVarun commented on #317
Issue was with the match section, it was matching to the same s3.tomcat.error tag every time it was updating the buffer.

[2020-04-20 15:08] #317 closed

[2020-04-23 09:06] KSVarun opened #318 "Issue with sending log files to remote server with td-agent running"
Hi All,

I am trying to send log files to log aggregator and from there to s3.

Here is my source td-agent config

[code]

Here is my aggregator config file.

[code]

This is my log file in the source td-agent server

[code]

Even though the service is running on the other server, the source is saying **no nodes are available**

Here is my nmap output

[code]

**Telnet output**

[code]

[2020-04-30 04:48] rverma-jm commented on #278
we setup a lifecycle policy to delete the files after 1 day. This also help us in processing the files manually if fluentd failed.

[2020-04-30 04:56] rverma-jm opened #319 "Getting shutdown after reading 1-2 records"
For some strange reason, the plugin keep getting shutdown after reading 1-2 events.

[code]

Fluentd logs
[code]

Reading cloudtrail logs, this is a big json and nested json
[code]

Couldn't figure out what is the issue, even in debug log level nothing is reflected.

[2020-05-01 04:51] #319 closed

[2020-05-05 19:26] saithejareddy opened #323 "Force flush is not working."
Hello,
I am running fluentd as daemonsets in k8s.
I am using SIGUSR1 to force flush the buffer but sometimes its not working and buffer is increasing.
Because of huge buffers, it mag cause effects to other applications running on same node.
I need logs because its very important and at the same, i care for my production applications also.
Is there a way to take care of both?

Thanks in advance.

[2020-05-09 01:10] rverma-jm opened #324 "Plugin doesn't work for any value of sqs/wait_time_seconds"
While configuring input source if we provided
[code]

Then the fluentd container doesn't start it self.
Out usecase is to poll data from sqs hourly and the flush all the logs data as big chunk in s3.
I was hoping with this we should be able to achieve that.

In debug logs I can see
[code]

But there are no messages being consumed from the queue at all.

[2020-05-10 11:48] #324 closed

[2020-05-11 00:39] okkez commented on #221
We are developing the compressor for the parquet format.
We will create a PR to publish the compressor or create a new gem to publish it.
The compressor depends on the external command we are developing.

Which is prefer creating a PR or a gem?

[2020-05-11 07:42] sayan-rudder opened #325 "How to add event time to path/s3_object_key_format"
currently I am injecting the event time(log_time) and the output format is json.

[code]

Can I add event/record time by let's say hourly in the path/s3_object_key_format. That is I want to detect which time period logs are present in the file by just looking at the key.

How to then add those to buffer ?

Any help or pointers

[2020-05-11 17:20] eredi93 commented on #221
Awesome @okkez could update this issue when you have something?
also happy to help if you need a hand

[2020-05-12 01:28] repeatedly commented on #221
parquet is now popular and it doesn't depend on external gems.
So support it in s3 plugin seems better. Could you send a PR?

[2020-05-12 01:43] eredi93 commented on #221
@repeatedly what do you mean it doesn't depend on external gems?
 it would require https://github.com/apache/arrow/tree/master/ruby/red-parquet no?

[2020-05-12 09:02] tatsu-yam opened #326 "process of determining 'index' is not thread safe"
* fluentd or td-agent version : td-agent 3.4.1-0 (fluentd 1.4.2)
* fluent-plugin-s3 version    : 1.3.1
* Your problem explanation. If you have an error logs, write it together.

In fluent-plugin-s3, if the value of flush_thread_count is greater than 1 , the data on S3 will be missing. I think that it is because `Fluent::Plugin::S3Output#write` method is not thread safe.

td-agent.conf
[code]

Test

[2020-05-13 05:27] repeatedly commented on #326
Yes. This problem is similar to process wide conflict.
This problem happens when S3 processing is slower than next chunk flush.
To avoid this problem, show warning message like "Buffer configuration uses multiple flush threads. Recommend to use chunk_id or uuid_flush in object path to avoid object conflict".
How about this?

[2020-05-13 06:12] withgod commented on #326
I encountered this bug and consulted with tatsu-yama.
I think it would be better to change the default to %{uuid_flush} or %{chunk_flush} and describe the risk of using %{index} in the s3_object_key_format in the documentation.

[2020-05-13 14:52] repeatedly commented on #325
You can use placeholder. See `s3_object_key_format` in README: https://github.com/fluent/fluent-plugin-s3/blob/master/README.md

[2020-05-14 15:24] repeatedly commented on #326
Changing default value affects existing users. So need 2 steps for it.

1. Add warning for multiple threads and release it in v1
2. Release v2 with default change

[2020-05-14 17:39] withgod commented on #326
I certainly forgot about the impact on existing users ;)

[2020-05-15 15:11] repeatedly commented on #326
Patch for https://github.com/fluent/fluent-plugin-s3/pull/327

[2020-05-20 18:28] rmccarthy-ellevation opened #328 "Running this in linux I am able to use IAM Instance Profile not in Windows."
I have set this both up on a Windows instance and Linux 2 instance both have an IAM instance profile that allows them access to the same s3 bucket. However, when I ran the fluentd service on the windows instance I get the following error and the logs don't send. In my config I am using the exact same match that I used on the Linux 2 instance but modified  a little to work with windows. I have post

[2020-05-20 19:35] rmccarthy-ellevation commented on #268
@cwhatley @Ramneekkhurana  I have this working on a linux aws instance with an instance profile that allows access to the bucket, however, when I tried this on Windows I get the same error. Nothing mentioned in the documentation about there being a difference. If anyone has figured it out please let me know. Thanks.

[2020-05-20 20:56] repeatedly commented on #328
This is similar to this issue: https://github.com/aws/aws-sdk-ruby/issues/2101
I'm not familiar with Windows on AWS. Maybe, you need additional work on using profiles for Windows environment.

[2020-05-25 08:20] hykych opened #330 "Get S3 Access Denied, Maybe because of configuration"
I'm pretty sure the AK/SK, role_arn and bucket name are correct. I don't know if there is somethin wrong on the configuration.
the configuration look like this:
[code]

Get the fluentd logs look like this:
[code]

The role policy looks like this:
[code]

[2020-05-28 06:02] sayan-rudder commented on #325
Hi,
Thanks for getting back.
This is my present configuration sample:
<match **>
        @type s3
        @id system_out_s3
        @log_level info
        aws_key_id "#{ENV['AWS_KEY_ID']}"
        aws_sec_key "#{ENV['AWS_SECRET_KEY']}"
        s3_bucket "#{ENV['S3_BUCKET_NAME']}"
        s3_region "#{ENV['S3_BUCKET_REGION']}"
        path "system"
        time_slice_format "%Y-%m-%d"
        stor

[2020-05-30 15:29] okkez commented on #221
OK, I will create new PR to add parquet compressor after we test it our environment.

[2020-06-03 23:27] nyetsche opened #331 "Special s3_endpoints are possible even in amazonaws.com"
S3 in the public AWS environment has has more than one endpoint, most notably FIPS. Ex:`s3-fips-us-gov-west-1.amazonaws.com`

Ref: https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/using-govcloud-endpoints.html

The code at https://github.com/fluent/fluent-plugin-s3/blob/bd225ea951b658f23ac156cd511dfd4aa9927398/lib/fluent/plugin/out_s3.rb#L174 raises an error and fails if you use `s3_endpoi

[2020-06-11 20:43] smiley-ci opened #333 "Fluentd logs are sent to s3 with delayed time"
We are using s3 output plugin and we see old logs data are been sent to s3. We are using  *.log
Uploads to S3 were successful, the chunks were deleted from the buffer. It looked like the old logs are just being added by tail/generated by application.
  Fluentd conf
  <source>
     @type tail
     path "/var/log/containers/*.log"
     pos_file "/fluentd/pos/containers.log.pos"
     time_format %Y-%

[2020-06-16 13:27] shilpasshetty opened #334 "Log pushed using s3 output plugin throws error "2020-06-16 13:23:35 +0000 [warn]: #0 [out_s3] buffer flush took longer time than slow_flush_log_threshold: elapsed_time=44.62332443147898 slow_flush_log_threshold=20.0 plugin_id="out_s3"""
Hi team,
Below is my config for td-agent ::

# Include config files in the ./config.d directory
@include config.d/*.conf

<match mcpslog.mcpsstaging.*>
@type s3
@id out_s3
@log_level debug
aws_key_id xxx
aws_sec_key xxx
s3_bucket xx
s3_endpoint xxx
s3_region xx
s3_object_key_format %Y-%m-%d-%H-%M-%S-%{index}-%{hostname}.%{file_extension}
store_as "gzip"
 <inject>
        time_key time
        tag_

[2020-06-16 13:31] shilpasshetty commented on #334
<match mcpslog.mcpsstaging.*>
@type s3
@id out_s3
@log_level debug

s3_object_key_format %Y-%m-%d-%H-%M-%S-%{index}-%{hostname}.%{file_extension}
store_as "gzip"
 <inject>
        time_key time
        tag_key tag
        localtime false
        time_format "%Y-%m-%dT%H:%M:%SZ"
        time_type string
      </inject>
      <format>
        @type json
      </format>
      <buffer>
        @type f

[2020-06-16 20:36] shevisjohnson commented on #221
@okkez any progress to report on this PR? Parquet formatting would be very useful, so I'd be happy to contribute if there is still work to be done.

[2020-06-17 00:42] repeatedly commented on #334
This means uploading data to S3 took 35 seconds.
I'm not sure why... but if you see this log frequently, check your network or something.
Basically, 35 or 44 seconds are very slow.

[2020-06-18 15:31] shilpasshetty commented on #334
Yeah but when I tried with multiple worker instance for tail .The CPU issue is solved and also problem solved ,so I am just wandering..

[2020-06-24 15:27] oren-nonamesecurity opened #337 "Plugin should work with PutObject permissions only"
I created an AWS user with key+secret, and gave it PutObject permissions to S3 bucket.
I get `error = #<Aws::S3::Errors::AccessDenied: Access Denied>"` from the fluentd logs.

Why does it need any more permissions other than upload a file? I don't want to give it read/list permissions.
Is there a configuration than I missed to make it work?

[2020-06-24 15:30] #337 closed

[2020-06-26 10:47] realknorke commented on #221
We would GREATLY appreciate Parquet support for fluent.

[2020-07-03 02:48] okkez commented on #221
@shevisjohnson @realknorke Could you try #338 ?

[2020-07-03 10:59] realknorke commented on #221
Sorry, not feasable for us because columnify is not mature enough. For a test run I tried to convert a simple TSV file to parquet (all columns in schema set to type "string"). The process failed because in some columns the value is  NAN or INF (valid locodes for regions in France). Also, the columnify tools is eating up a lot of memory because the columnization is done in memory. This may not be a

[2020-07-09 13:20] ZP-AlwaysWin commented on #237
Hello, has this problem been solved
@

[2020-07-09 13:23] ZP-AlwaysWin commented on #237
Hi @repeatedly ,  has this problem been solved, I also encountered the problem that the files in the buffer could not be automatically deleted after the push。

[code]
![image](https://user-images.githubusercontent.com/23489782/87045442-7aa0e080-c22a-11ea-9841-c8a13983fcfa.png)

[2020-07-09 13:26] ZP-AlwaysWin opened #339 "fluent-plugin-s3 it fail to auto clean up the buffer's files after pushing to S3"
I also encountered the problem that the files in the buffer could not be automatically deleted after the push。

[code]
![image](https://user-images.githubusercontent.com/23489782/87045442-7aa0e080-c22a-11ea-9841-c8a13983fcfa.png)

[2020-07-09 13:26] ZP-AlwaysWin commented on #339
/assign @@repeatedly

[2020-07-09 13:37] ZP-AlwaysWin commented on #237
What does this parameter SQS mean?

[2020-07-09 18:08] woodcockjosh opened #340 "Cannot use environment variable for aws_sec_key or aws_key_id"
I have the following configmap which gets mounted to `/fluentd/etc/conf.d/s3.conf`
[code]

I get the following error in the fluentd container:
[code]

I have verified that the environment variable is properly set. If I change the config to hard code the `aws_sec_key` and `aws_key_id` into the configmap then everything works fine but that is obviously not ideal.

Could this have something to do wit

[2020-07-16 03:38] smiley-ci commented on #334
We see similar issue logs are put to S3 with delayed time..can you tell us how you used the worker concept .Tail supports only one worker .Worker 0-2 does not supported.

[2020-07-17 12:59] jychen7 opened #341 "uuid_flush use extra uuidtools gem"
Hi team,

any idea why not use `SecureRandom.uuid` from stdlib?

https://github.com/fluent/fluent-plugin-s3/blob/eb26edcbf8035be435f31e6f1e149e8ee3ca5256/lib/fluent/plugin/out_s3.rb#L386-L388

https://github.com/fluent/fluent-plugin-s3/blob/eb26edcbf8035be435f31e6f1e149e8ee3ca5256/lib/fluent/plugin/out_s3.rb#L444-L454

[2020-07-21 06:26] repeatedly commented on #341
securerandom is introduced since ruby 1.9.3 and uuidtools is widely used before. So I think patch author uses uuidtools.

[2020-07-22 13:37] jychen7 commented on #341
make senses, shall we replace it now? given the requirement is >= 1.9 already
https://github.com/fluent/fluent-plugin-s3#requirements

[2020-07-23 14:03] cde0 opened #342 "SQS The specified queue does not exist or you do not have access to it."
I Get this error:

[Aws::SQS::Client 400 0.064432 0 retries] get_queue_url(queue_name:"<queue_name>",queue_owner_aws_account_id:"<owner aws id>") Aws::SQS::Errors::NonExistentQueue The specified queue does not exist or you do not have access to it.

starting SSL for sqs.eu-west-1.amazonaws.com:443...
SSL established
<- "POST / HTTP/1.1\r\nContent-Type: application/x-www-form-urlencoded; charset=ut

[2020-07-28 14:46] henrysher opened #343 "No detail error information in the plugin logs."
I have met an issue in "SQS Polling Failed." but no idea what happened even I have enabled the debug logs.
Then I noticed that in the code "lib/fluent/plugin/in_s3.rb".

It does capture the exceptions but does not to record it in the plugin logs.
After I added the code to record the exception, i got the "access denied" error:

[code]

[2020-07-30 20:41] repeatedly commented on #341
Yes. I think so. Could you send a patch?

[2020-08-01 06:41] henrysher commented on #343
Thank!

[2020-08-01 06:41] #343 closed

[2020-08-01 14:07] jychen7 commented on #341
sure, PR is raised and linked with this issue

[2020-08-03 01:14] #341 closed

[2020-08-06 09:43] michaelkoro commented on #330
having the same issue, only my iam role has S3 full access policy.
also, I'm using the instance_profile_credentials.
have you managed to get it to work ?

[2020-08-11 18:55] dmanchikalapudi commented on #246
Did anyone figure out the issue? I see the same error trying to push logs to cloudwatch

[2020-08-13 01:52] okkez commented on #221
@realknorke Thank you for testing columnify.
We are trying to improve memory usage https://github.com/reproio/columnify/pull/52

Please create a new issue on https://github.com/reproio/columnify/issues if you have problems to use columnify.

[2020-08-13 09:26] mayankcpdixit commented on #246
I replaced `Assume_role_credentials` with `instance_profile_credentials` providing [metadata ip/port](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html) for fetching default AWS creds:
[code]
My pods had enough permissions. I had kube2iam(_[ref](https://github.com/jtblin/kube2iam)/[more ref](https://medium.com/@marcincuber/amazon-eks-iam-roles-and-kube2iam-4ae590

[2020-08-21 06:03] ekanai opened #347 "Can not get credentials on Fargate 1.4"
Can not get credentials on Fargate 1.4.

- Fluentd setting
[code]

- Environment variables
`AWS_CONTAINER_CREDENTIALS_RELATIVE_URI: true`

- Log
[code]

- note
On Fardate v1.3, i can get credentials.

[2020-08-24 04:05] okkez commented on #221
Columnify v0.1.0 has been released.
https://github.com/reproio/columnify/blob/v0.1.0/CHANGELOG.md

[2020-08-26 01:55] repeatedly commented on #347
Does anyone know how to avoid this issue?
We, s3 plugin maintainer, don't have fargate experience.

[2020-08-28 00:42] NW-MLakin opened #348 "timekey in buffer config is not used for s3 output frequency, is there any way to change it?"
It seems that the buffer timekey is not used at all to determine the frequency to write files to s3, as the fluentd documentation states:

The README in this repo does seem to indicate that it writes logs as it receives them, but there isn't any mention of how to control how frequently logs are written to S3:

I have tried using every combination of timekey, flush_interval, and chunk limits on bot

[2020-09-03 22:45] ekanai commented on #347
This was due to setting A. The plugin is not bad due to the settings, so close it.

[2020-09-03 22:45] #347 closed

[2020-09-04 02:54] NW-MLakin commented on #348
So, I finally found a bit of consistency in controlling the file output frequency using `timekey`, but it's pretty weird.

After testing a bunch of different timekey values, I noticed that it always writes out 11 files per timekey period.  With a timekey of 60s, it creates 11 files per minute.  At 120s it creates about 5-6 files per minute, at 240s 2-3 files per minute.  I changed the timekey to 6

[2020-09-10 07:04] stevenarvar commented on #340
I use https://github.com/helm/charts/tree/master/stable/fluentd helm chart and using env var is fine just like your config.  However, when I use google-fluentd, I ran into the same problem you have.
[code]

I tried using IAM with S3 permission, that did not work.  I also try AWS access and secret key.  That did not work.  Not sure why may be fluent-plugin-s3-1.1.10 does not work?

[2020-09-10 08:08] stevenarvar commented on #340
I figured out what is wrong with my config.  My bucket name is wrong, once I corrected it.  The error went away.  I did not have to put "" for the keys.

[2020-09-11 02:03] quyettv-1583 opened #349 "How to use {intance_id} to path logs s3"
Current config is as follows:
[code]
Now, I want to use more {instance_id) field in s3_object_key_format:
[code]
for logs example:
[code]
What do I need to do to get the instance_id field?

[2020-09-11 02:44] abicky commented on #221
If you want some examples, the repository https://github.com/abicky/docker-log-and-fluent-plugin-s3-with-columnify-example might be helpful.

[2020-09-16 02:52] #349 closed

[2020-09-24 15:10] rmontenegroo opened #350 "When s3_bucket is defined dynamically it is not created when value changes"
Hi!

I have s3_bucket created dynamically like this: s3_bucket #{`date +%Y-%m-%d | tr -d '\n'`} and I also have autocreate bucket set to true.

When the value changes (when comes a new day in my case), the new bucket is not created.

[2020-10-02 23:50] caleb15 commented on #160
We ran into this issue as well. There's been months where we received literally _billions_ of HEAD requests. It's hard to say how much it has cost us exactly but based on our historical usage I'd guess around 5,000 dollars†. That's right, Jeff Bezos has gotten so much money off this bug he could buy a used 2005 mazda mazda3:

![beautiful picture of mazda3 car](https://user-images.githubusercontent

[2020-10-06 20:32] mrmassis opened #354 "problem with dynamic bucket creation."
Hi everyone,
Is possible set the bucket name with the name of a record field, or tag?
Example

[code]
I receved logs from diferents tenants and wish put each one in a bucket.
Tkz in advance!

[2020-10-06 20:49] #331 closed

[2020-10-06 21:30] repeatedly commented on #160
I think this has slow upload issue with multiple threads. If previous upload takes 20 seconds, other threads wait 20 seconds or more. It causes buffer overflow easily.

Dlder s3 plugin doesn't have `check_object` parameter, so some old comments are outdated.
I think documentation update is needed for this case. Add `S3 cost optimization` section and mention `check_object` / random placeholder is b

[2020-10-07 14:17] woodcockjosh commented on #340
@repeatedly why is this closed?

[2020-10-07 19:36] repeatedly commented on #340
Ah, sorry, this is my mistake. I didn't notice last comment author and issue author are different....

[2020-10-20 16:00] dshackith commented on #323
I am also seeing the same issue. Running `kill -10 1` in the Fluentd pod no longer initiates an immediate flush.

[2020-10-20 17:20] saithejareddy commented on #323
Can you try doing this. `kill -USR1 1`
And also setting/increasing [flush_thread_count](https://docs.fluentd.org/deployment/performance-tuning-single-process#use-flush_thread_count-parameter) will help in parallel processing.

[2020-10-20 17:31] dshackith commented on #323
This has the same result. No message in logs regarding flush, even in debug. I am using flush_thread_count already, and have added %{uuid_flush} to my s3_object_key_format to ensure no collisions.

[2020-10-20 17:40] saithejareddy commented on #323
For me, when i am sending sigterm, it prints force flushing all buffers in logs.
What's your usual buffer's size per pod?

[2020-10-22 22:18] jotes commented on #330
Hey everyone!
I've (probably) found the source of this problem. My instance of Fluentd has to use an IAM account and assume a role, similarly to @hykych's.

I think the problem lies in the function that authenticates Fluentd against a S3 bucket. When you specify IAM credentials, it skips the part about STS and doesn't assume a role. In my case, AWS S3 was denying access to my bucket.

I've managed

[2020-10-23 15:31] realknorke commented on #221
@okkez sorry, took me some time to get priority on this issue.
I successfully integrated columnify as a compression flavor for s3 in fluentd (your ruby example basically).
I'm going to test columnify-fluent in more depth starting monday and with high load. :)
But it looks very promising now. I'll keep you informed.

[2020-10-29 22:22] caleb15 opened #357 "s3 plugin flushing far more often than as prescribed by timekey"
We use the following td-agent configuration:

td-agent conf: (using td-agent v4)
[code]

`config.d/app.emaillog.conf:` (there's a lot more files but this is the simplest one)
[code]

Because I use `timekey 24h` I should only see one file per day. But as you can see below, I'm getting a file roughly every 8 minutes:
![image](https://user-images.githubusercontent.com/46505081/97637647-4aa76400-19f8-

[2020-10-29 22:29] caleb15 commented on #273
I ran into the same issue with the timekey :(

![image of comic link below](https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png)

https://xkcd.com/979/

[2020-11-06 08:20] 0x63lv commented on #348
We are also witnessing this weirdness. We are using `timekey 5m`, which means that it sent ~2 files per minute to S3 (11 per `timekey`).
Because of this, it also appeared to be accumulating a backlog of un-flushed buffer files due to output to S3 happening at a lower rate than logs are generated, which, over time, leads to exhaustion of open file descriptors ulimit.
It seems that, if there are mor

[2020-11-06 10:19] 0x63lv commented on #348
It appears, that the issue is not with this S3 plugin, but rather the way Fluentd output buffer is configured.
The 11 comes from here: https://github.com/fluent/fluentd/blob/8dd83461d8f34317d6e0de189beeb6bcff01481d/lib/fluent/plugin/output.rb#L1354-L1365
Essentially, it takes the minimum of `timekey` and `timekey_wait`, and divides it by 11 for some reason. If the resulting number is less than `fl

[2020-11-11 23:16] formanojhr commented on #160
@caleb15  Apart from the warning added - is there a recommended solution to avoid the index checking ? which in turn will avoid the HEAD requests? This is the  %{path}%{hostname}-%{time_slice}_%{index}.%{file_extension} s3_object_key_format we are using. We are seeing high number of HEAD requests.

[2020-11-11 23:26] repeatedly commented on #160
For avoiding HEAD request call, set `check_object false`.
In addition. you need to change `s3_object_key_format` to use `%{uuid_flush}` or `${chunk_id}` for unique path.

[2020-11-11 23:34] formanojhr commented on #160
thanks @repeatedly  what is the implication of avoiding HEAD request call ? Would it overwrite existing file ? or know from cache what index it needs to write to?

[2020-11-13 00:34] caleb15 commented on #160
@formanojhr uuid = universally unique id. Because the id is totally unique overwriting becomes virtually impossible.

https://stackoverflow.com/questions/1155008/how-unique-is-uuid

[2020-11-17 22:17] formanojhr commented on #160
Thanks @caleb15 that helps. One observation we have is once we add these two changes (s3_object_key_format %{path}%{hostname}-%{uuid_flush}-%{time_slice}_%{index}.%{file_extension}
    check_object=false) we noticed HEAD Requests on S3 requests come down but also the PUT Requests also drop. Does FluentD write to s3 bucket using a different path why the PUT metrics drop ? We do see the written logs

[2020-11-18 12:23] rustysys-dev opened #358 "IRSA multi-region support"
From what I can tell in https://github.com/fluent/fluent-plugin-s3/pull/305 support for IRSA was added.  I tried using it today, and ran into authentication issues.

Looking at the changes in the above mentioned PR it seems that the implementation is locked to us-east-1.   Am I correct in assuming that fluentd cannot use IRSA when in other regions?

If so, I would like to request a fix to support

[2020-11-19 01:31] formanojhr commented on #357
We might be seeing something @caleb15 Please confirm if this is the same issue. This is the files uploaded to s3 but we have set the flush _interval to 120s
<img width="840" alt="Screen Shot 2020-11-18 at 4 50 32 PM" src="https://user-images.githubusercontent.com/5892453/99608918-bcede180-29c3-11eb-9f49-070b3abdf775.png">
` time_slice_format %Y%m%d-%H
    s3_object_key_format %{path}%{hostname}-%{

[2020-11-19 18:04] caleb15 commented on #357
yeah looks like same issue

[2020-11-19 18:15] formanojhr commented on #357
I actually opened these files and confirmed that it is a non issue in our case since these closely time stamped files are different source logs  since the agent is tailing different files.

[2020-11-19 20:54] formanojhr commented on #160
@repeatedly  I think since you are the dev on this might be something you can answer. Once I add the check_object false and adding s3_object_key_format %{path}%{hostname}-**%{uuid_flush}**-%{time_slice}_%{index}.%{file_extension}
    check_object=false what we notice is the HEAD requests really drop to zero but also the PUT requests go down to zero for though we do see the logs being written. Any

[2020-11-20 11:15] rustysys-dev commented on #358
hmm, not sure about the whether the region settings are okay or not but...
I ended up changing the configuration... I was still using `instance_credentials` but needed to switch to to `web_identity_credentials`.  After switching I was able to connect as expected.

So as I was able to connect,, this seems to be a non-issue... closing (if anyone sees otherwise feel free to reopen)

[2020-11-20 11:15] #358 closed

[2020-11-30 16:02] ventsislav-georgiev opened #359 "Retry exponential backoff does not work with invalid/expired configuration"
#### Problem
Setting invalid configuration for example key id, fails the plugin with the following error:
[code]

<br/>
<br/>

This error repeats every 11-12 seconds (may depend on the flush interval) and the process is constantly working instead of properly applying the configured retry exponential backoff.

Buffer configuration:
[code]

#### Steps to replicate
[code]

#### Expected Behavior or W

[2020-12-03 13:50] michael-zucchetta commented on #340
I am also observing this issue using the bitnami chart https://artifacthub.io/packages/helm/bitnami/fluentd

For OP: even with alphanumeric characters I get the same error

[2020-12-09 18:32] willemveerman commented on #340
In my case I found that this was caused by improperly encoding the secret value as `base64` before loading it into a `Secret` object

if you do

`echo "access_key_here" | base64`

The base 64 encode will be wrong because by default `echo` appends a newline character at the end of strings (hence the error `cannot include CR/LF` - i.e. carriage-return, line-feed)

Instead you need to do

`echo -n "a

[2020-12-10 14:11] ventsislav-georgiev commented on #359
It appears this issue will be difficult to fix in the plugin. A viable workaround when using Kubernetes, is to use a single output plugin per Fluentd instance and run Fluentd in no supervisor mode. This will make the plugin crash result in a Fluentd crash and be properly handled by Kubernetes, by making the pod entering a CrashLoop with exponential back off retries.

[2020-12-10 14:11] #359 closed

[2020-12-18 02:39] #330 closed

[2020-12-19 06:34] anthonydelarosa opened #362 "AuthError: Import failed: Unauthorized"
Hello

Very very new to FluentD so please forgive me for a stupid question. I followed the documentation at https://docs.fluentd.org/how-to-guides/apache-to-s3

I keep seeing this error:

2020-12-18 22:19:44 -0800 [warn]: #0 [output_td] failed to flush the buffer. retry_time=4 next_retry_seconds=2020-12-18 22:19:53 97052170713425389901/219902325555200000000 -0800 chunk="5b6cae3dc5173e9fe62a1e1d402

[2020-12-19 07:05] repeatedly commented on #362
Remove `@type tdlog` configuration from your conf.

[2020-12-19 07:31] anthonydelarosa commented on #362
thanks @repeatedly it def got me passed that error but now i am seeing:

2020-12-18 23:26:17 -0800 [warn]: #0 failed to flush the buffer. retry_time=3 next_retry_seconds=2020-12-18 23:26:20 63673585972007512459/68719476736000000000 -0800 chunk="5b6cbe963cf17ffdf8858bcf0e2ddb7c" error_class=Aws::S3::Errors::AccessDenied error="Access Denied"

Again, the keys are fine :/ so I am wondering if the s3_

[2020-12-19 08:08] anthonydelarosa commented on #362
sorry I am obviously an idiot :( I messed up the S3 Policy, works now :D Thanks

[2020-12-24 07:28] kazekin94 commented on #302
@bhaveshmodiatekaplus Were you able to solve this? My chunk size is even smaller 256KB.

[2021-01-25 18:02] #362 closed

[2021-02-10 12:25] pinkavaj commented on #268
It was necessary to disable `containerSecurityContext` to make it working.

[2021-02-10 12:30] pinkavaj commented on #246
In my case I have found out I need to disable `containerSecurityContext` in the helm chart from which is the fluentd installed to allow EC2 instance authentication.

[2021-03-01 15:57] albeus opened #368 "Error in connecting to a compabible client"
I'm trying to use an S3 compatible service as output. I'm using this kind of configuration:

[code]

I receive this error:

[code]

I've tried also accessing another external S3 compatible service. I see the
same error: it seems to merge the bucket name to the url obtaining a wrong
address.

[2021-03-05 23:35] anthonyd-cd opened #369 "s3 folder empty"
Hello,

I had configured this in a different server (that is working) and tried to follow same steps but for some reason s3/ folder in /var/log/td-agent is empty. When I tail -f td-agent.log I don't see any errors:

`2021-03-05 15:25:35 -0800 [info]: using configuration file: <ROOT>
  <match debug.**>
    @type stdout
    @id output_stdout
  </match>
  <source>
    @type forward
    @id input_forw

[2021-03-05 23:55] anthonyd-cd commented on #369
so apparently using td-4 is not the same at all as td-3
I realized that the other server I setup was using td-3 and once I reinstalled it using td-3 it worked :/
I am using Xenial (yes I am aware it's old)

[2021-03-05 23:55] #369 closed

[2021-03-08 17:07] albeus commented on #368
I've found the solution: in this case, it's essential to force the path style:

[code]

## Doc

:force_path_style (Boolean) — default: false — When set to true, the bucket name is always left in the request URI and never moved to the host as a sub-domain. See Plugins::S3BucketDns for more details.

[2021-03-08 17:07] #368 closed

[2021-03-12 15:43] snypelife commented on #183
I seem to be encountering this.  We are currently targeting ubuntu auth logs explicitly, and it seems like if there is nothing to ship fluentd gets stuck and won't ship anything after this happens.

## Basic info
- AWS EC2
- Ubuntu 18.04
- Dockerized fluentd
- Docker version 19.03.13
- fluentd:edge
- fluent-plugin-s3:1.5.1

## fluentd config

I use `copy` so that I can confirm what I see in stdout

[2021-03-12 19:06] snypelife commented on #183
Poking around more, I'm wondering if this issue is related to https://github.com/fluent/fluent-plugin-s3/issues/92? testing it out to confirm.

[2021-03-12 19:51] snypelife commented on #183
Yes that appears to have been the cause for me. Please ignore my comment, and sorry for the trouble.

[2021-03-30 07:59] mehtabhassan opened #371 "Cannot use credentials for MFA activated account"
[code]

I have used credentials of my mfa activated aws account but get this error.

```fluentd_1  | 2021-03-30 07:31:25 +0000 [error]: #0 unexpected error error_class=RuntimeError error="can't call S3 API. Please check your credentials or s3_region configuration. error = #<Aws::S3::Errors::AccessDenied: Access Denied>```

[2021-03-31 12:22] 123BLiN commented on #221
It seems such plugin can also be some kind of schema validator to only allow "good" messages went to s3, because in our case later Athena breaks in case schema has been changed

[2021-04-06 08:56] stevehipwell commented on #339
This continues to be an issue is there any more information on this?

[2021-04-07 23:52] okkez opened #372 "`%{hex_random}` vs `%{uuid_flush}` / `${chunk_id}`"
I'm testing fluent-plugin-s3 v1.5.1 (The previous version is v1.2.1)

I got the following warning message on boot.

https://github.com/fluent/fluent-plugin-s3/blob/6ab7c5343e2926e63cb2af7f2e1810e903bae48e/lib/fluent/plugin/out_s3.rb#L460

But I use `%{hex_random}` placeholder in `s3_object_key_format`.
My s3_object_key_format is:
[code]

Is there any difference between `%{hex_random}` and `${chunk

[2021-04-09 01:26] okkez commented on #372
`%{uuid_flush}`
https://github.com/fluent/fluent-plugin-s3/blob/ab6191293b8840b31de5f2f4790ba334a39cbe33/lib/fluent/plugin/out_s3.rb#L387-L389

`%{hex_random}`
https://github.com/fluent/fluent-plugin-s3/blob/ab6191293b8840b31de5f2f4790ba334a39cbe33/lib/fluent/plugin/out_s3.rb#L381-L385

`${chunk_id}`
https://github.com/fluent/fluentd/blob/4b1ee636ec7b3123db6dfa5b3442a2f807bed35b/lib/fluent/plugin/

[2021-04-09 09:06] nick-oh opened #375 "I can't use ENV value to path."
Dear, Team.

I want to use environment variable for path.

I tested it several times, and when I put an environment variable in the PATH, the variable name is converted to a string and entered in the path.

Similarly for "#{Socket.gethostname}", the variable name is converted to a string and entered in the path or s3_object_key_format.

That like this:
[code]

Perhaps I am using it incorrectly, or

[2021-04-09 10:33] nick-oh commented on #375
This was my mistake.

Fix like this:
[code]

[2021-04-09 10:34] #375 closed

[2021-05-11 08:48] sppwf commented on #290
Hi Guys,

Have you managed to add this feature? Its realy needed.

Thanks
Sergiu Plotnicu

[2021-05-12 03:36] abicky commented on #221
FYI, fluent-plugin-s3 1.6.0 including the changes in https://github.com/fluent/fluent-plugin-s3/pull/338 has been released.

[2021-05-12 03:54] ashie commented on #221
Thanks for notifying it.
Yes, it's already released.
I close this issue.

[2021-05-12 03:54] #221 closed

[2021-06-03 11:18] vinod827 opened #376 "InvalidRegionError error="Invalid `:region` option was provided.\n\n* Not every service is available in every region."
I'm trying to run the FluentD on my AWS EKS cluster so that I can send the logs generated by certain pods to AWS S3 bucket.
I'm trying to run the FluentD as Kubernetes DaemonSet but keep on getting below error:-

[code]

DaemonSet:-

[code]

ConfigMap:-

[code]

It is throwing error with region name. I tried with region as us-east-1 and then commented it out and keep just s3_endpoint but nothing i

[2021-07-06 12:42] woodcockjosh commented on #340
/reopen

[2021-07-06 18:38] caleb15 commented on #160
@cosmo0920 can you remove the stale lifecycle and add a bug label please. This is a rare but serious issue.

[2021-07-07 14:36] imran9m opened #378 "Aws::Xml::Parser::ParsingError error="Missing end tag for 'BR'"
Hello,

We are using following versions of FluentD and FluentD-S3 Plugin in Kubernetes Environment.

[code]

We are observing lot of following warning messages in FluentD logs and our application is going through unexpected performance issues. We are wondering what is the cause for this?.

[code]

Below is the Fluentd configuration.

[code]

Please advise

[2021-07-08 09:26] kenhys commented on #354
Related to : #360, #363

[2021-07-09 06:36] kenhys commented on #325
maybe https://docs.fluentd.org/filter/record_transformer will help to modify the record in filter. Then refer it from `s3_object_key_format`

[2021-07-09 06:36] #325 closed

[2021-07-09 07:00] kenhys commented on #276
Solved via https://github.com/fluent/fluent-plugin-s3/issues/276#issuecomment-499359724

[2021-07-09 07:00] #276 closed

[2021-07-12 07:49] kenhys commented on #137
It will be solved by https://github.com/fluent/fluent-plugin-s3/issues/137#issuecomment-198060763

[2021-07-12 07:49] #137 closed

[2021-07-12 07:59] kenhys commented on #181
TODO: document it to https://github.com/fluent/fluent-plugin-s3/blob/master/docs/output.md

[2021-07-13 05:24] kenhys commented on #376
It seems that error logs indicate the reason. (`us-east-1a` is specified).
Could you check above configuration is correctly applied to the pod?

[code]

[2021-07-13 05:24] #376 closed

[2021-07-16 08:12] kenhys commented on #263
Resolved by https://github.com/fluent/fluent-plugin-s3/issues/263#issuecomment-451672862

[2021-07-16 08:12] #263 closed

[2021-07-16 08:15] kenhys commented on #282
It seems that this is not plugin issue https://github.com/fluent/fluent-plugin-s3/issues/282#issuecomment-516686063

[2021-07-16 08:15] #282 closed

[2021-07-16 08:17] kenhys commented on #166
v0.14 series is not maintained anymore, I'll close it.

[2021-07-16 08:17] #166 closed

[2021-07-16 21:52] savilesupgrade opened #381 "Error running on ec2 with imdsv2 enabled"
### Describe the bug

It appears that fluent-bit does not support getting credentials when the ec2 instance has [imdsv2 enabled](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html).

### To Reproduce

- enable IMDSv2 `aws ec2 modify-instance-metadata-options --instance-id ${INSTANCE_ID} --http-tokens required --http-endpoint enabled`
- restart service: `

[2021-07-17 16:09] gpodila-disc commented on #246
Did anyone found the solution? Im facing the same problem but while writing into AWS Elastic search.

[2021-07-19 01:29] kenhys commented on #181
#380 was merged.

I'll close this.

[2021-07-19 01:29] #181 closed

[2021-07-19 01:50] kenhys commented on #381
It seems that this is not fluent-plugin-s3 issue.

If you use https://github.com/takus/fluent-plugin-ec2-metadata, it seems that you need to enable `imdsv2 true` explicitly.

See https://github.com/takus/fluent-plugin-ec2-metadata#configuration.

[2021-07-19 01:50] #381 closed

[2021-07-19 06:28] kenhys commented on #340
@woodcockjosh https://github.com/fluent/fluent-plugin-s3/issues/340#issuecomment-741966109 work for you?

[2021-07-21 03:37] kenhys commented on #140
It seems that:

* fluent-plugin-s3 requires aws-sdk-s3 ~> 1.60 then resolved to 1.96.2
* aws-sdk-s3 1.96.2 requires aws-sdk-core ~> 3, >= 3.112.0

On the other hand,
* fluent-plugin-kinesis-firehose requires 'aws-sdk', '~> 2.1.28' then resolved to 2.1.36
* aws-sdk requires  aws-sdk-resources = 2.1.36 explicitly
* aws-sdk-resources requires aws-sdk-core = 2.1.36  exlicitly

As a result, they confli

[2021-07-21 03:37] #140 closed

[2021-07-21 03:48] kenhys commented on #245
It seems that duplicate of #240

[2021-07-21 03:48] #245 closed

[2021-07-28 13:50] rubroboletus opened #382 "Need use S3 endpoint in AWS VPC"
### Describe the bug

In source, you are checking for "fips" and "gov" inside amazonaws.com, when not there, s3_endpoint is rejected with error. Need to enable same functionality for VPCE endpoints.

### To Reproduce

Create AWS VPC, S3 VPCE endpoint, try setting s3_endpoint to it.

### Expected behavior

Use s3_endpoint value, when is ends with vpce.amazonaws.com

### Your Environment

[code]

##

[2021-07-30 07:10] pawanyoda commented on #246
I am facing also this error:
Without IAM configuration in fluentd.conf
**Error:**
[code]

After added assume role configuration:
**Error:**
[code]
But pod have already I am role assigned  and I can able to access my bucket via aws s3 cp file s3://bucket --region us-east-1

**Conf:**
[code]

[2021-08-05 10:04] #350 closed

[2021-08-05 10:04] #348 closed

[2021-08-05 10:04] #342 closed

[2021-08-05 10:04] #333 closed

[2021-08-05 10:04] #328 closed

[2021-08-05 10:04] #326 closed

[2021-08-05 10:04] #315 closed

[2021-08-05 10:05] #303 closed

[2021-08-05 10:05] #302 closed

[2021-08-05 10:05] #300 closed

[2021-08-05 10:05] #295 closed

[2021-08-05 10:05] #279 closed

[2021-08-05 10:05] #278 closed

[2021-08-05 20:23] mstenta opened #383 "Support S3-compatible providers (non-AWS)"
### Is your feature request related to a problem? Please describe.

AWS is where S3 started, but other providers offer S3-compatible object storage as well. Examples:

- https://www.linode.com/products/object-storage/
- https://www.digitalocean.com/products/spaces/

It seems that this plugin would work with non-AWS providers, but this statement in the docs leads to uncertainty:

https://github.com

[2021-08-06 10:04] #271 closed

[2021-08-06 10:04] #270 closed

[2021-08-06 10:04] #252 closed

[2021-08-06 10:04] #251 closed

[2021-08-06 10:04] #240 closed

[2021-08-06 10:04] #237 closed

[2021-08-07 10:03] #371 closed

[2021-08-07 10:04] #357 closed

[2021-08-08 10:06] #294 closed

[2021-08-08 10:06] #268 closed

[2021-08-10 08:45] kenhys commented on #382
Hmm, Is it enough to allow `vpce` in `@s3_endpoint`?

[code]

[2021-08-10 10:19] rubroboletus commented on #382
I hope, that "vpce" was created just for this VPC Endpoints. But not a AWS employee.

[2021-08-11 10:05] #229 closed

[2021-08-11 10:05] #224 closed

[2021-08-16 01:03] ashie commented on #372
The warning message is introduced at #326

[2021-08-16 01:05] ashie commented on #372
I think we should fix the warning message.

[2021-08-19 01:54] #382 closed

[2021-08-19 01:54] kenhys commented on #382
Fixed by #384.

[2021-10-17 15:24] #340 closed

[2021-10-17 15:25] woodcockjosh commented on #340
My issue was also including the newline character in the base64 encoding. Very tricky bug 🐛.  Thank you.

[2021-11-04 11:15] repeatedly commented on #383
We don't have a plan to remove `s3_endpoint` option.
`This option is deprecated for AWS S3, use s3_region instead.` doesn't say "This option is deprecated"

[2021-11-04 11:15] #383 closed

[2021-11-07 10:08] #323 closed

[2021-11-07 10:08] #318 closed

[2021-12-02 13:54] kiranmaikalla1 opened #387 "issue with adding pod_name to the s3 path"
### Describe the bug

We are trying to add pod_name to the s3 path, but the config is not able to read the pod_name from metadata. Can anyone please help.
it just adding ${record[\"kubernetes\"][\"pod_name\"]}

### To Reproduce

deploy fluentd in k8s with the attached configuration

### Expected behavior

POD_NAME should be substituted with the podname from kubernetes metadata

s3://issuing-apps-l

[2021-12-03 07:42] cosmo0920 commented on #387
If you use built-in placehodlers, substitution values should be included in chunk metadata:
https://docs.fluentd.org/configuration/buffer-section#nested-field-support

[2022-01-28 04:14] anarwal opened #389 "Access denied when adding `path_key` to fluentd config."
### Describe the bug

I recently added `path_key` option to my fluentd config. Right after that I started getting the error below. I am looking to add file path the log and then publish logs to s3.

### To Reproduce

Deploy fluentd agent to ubuntu or centos instance on AWS

### Expected behavior

Logs should be published to S3

### Your Environment

[code]

### Your Configuration
[code]
### Your E

[2022-02-08 10:10] #183 closed

[2022-02-25 22:18] tgilman opened #390 "single_value format not taking affect for s3 plugin"
### Describe the bug

I'm attempting to use the single_value format with the s3 plugin and it doesn't appear to be taking affect.  Here's my Output configuration:

[code]

The result still contains the full log entry:
[code]

The goal is to "reconstitute" the original log within the S3 bucket without the fluent metadata.

### To Reproduce

See the above configuration.

### Expected behavior

The r

[2022-03-08 09:46] daipom opened #391 "The default `s3_object_key_format` is racy with multi workers"
### Is your feature request related to a problem? Please describe.

I assume the same problem could occur in multi-workers as #326, although I have not confirmed the problem.

In #326, multi-threading with `flush_thread_count` is discussed,
but I think the same problem exists when running with multiple workers.

### Describe the solution you'd like

In #327, the warning was added for the case of m

[2022-03-11 01:27] daipom commented on #391
#392 is merged, so I close this.

[2022-03-11 01:27] #391 closed

[2022-03-14 18:06] tgilman opened #394 "Placeholder replacement order"
### Describe the bug

Unable to use placeholder values within interpolation expression for path property.

Example: path "#{'eye.test'.sub('.', '/') + '${tag}'.sub('.', '/')}/%Y-%m-%d/"
${tag} = 'his.blahbalh'

results in 'eye/testhis.blahblah' because the ${tag} placeholder replacement doesn't happen until after the outer #{} interpolation has already executed.

### To Reproduce

See path value a

[2022-04-02 09:00] YikaiHu opened #395 "Fluentd reads each line of json file into json, instead of taking whole file as a single log stream"
### Describe the bug

Hi all, I am new with Fluentd.

And I want to read log file stored in s3 in json format and then write into AWS Kinesis Data Stream.

While reading the file from s3, fluentd reads each line of json file into json instead of taking whole file as a single log stream.

My fluentd configuration is look like below:

[code]

I would appreciate if anyone help me to figure out how to

[2022-04-02 09:23] YikaiHu commented on #395
My fault, the log should be:

[code]

[2022-04-02 09:23] #395 closed

[2022-04-03 10:01] #387 closed

[2022-05-18 07:03] mindw opened #398 "Tag for published 1.6.1 version is missing"
### Describe the bug

The tag for 1.6.1 published some time ago is missing

### To Reproduce

N/A

### Expected behavior

N/A

### Your Environment

[code]

### Your Configuration

N/A

### Your Error Log

[code]

### Additional context

N/A

[2022-05-18 07:15] ashie commented on #398
Hmm, it's weired.
According to commit messages and RubyGems, v1.6.1 is pushed by @kenhys.
And v1.6.1 tag exists in my local repository, so that it should have had ever existed on GitHub.
But it's not present on GitHub for now.
Probably someone delete it mistakenly.

[2022-05-18 07:18] ashie commented on #398
I've pushed v1.6.1 tag.
Thank you for your report!

[2022-05-18 07:18] #398 closed

[2022-05-18 23:55] threewordphrase opened #399 "Input plugin does not work?"
### Describe the bug

The s3 input plugin will pull messages off the SQS queue, but nothing happens.

### To Reproduce
[code]

The file in s3 in the same format as is output by the out_s3 plugin. Tab delimited `<time> <tag> <message>.`

### Expected behavior

I expect to see the log message printed to stdout.

### Your Environment

[code]

### Your Configuration
[code]
### Your Error Log

[code]

[2022-05-19 19:01] threewordphrase commented on #399
I have discovered the problem, I made a mistake setting up my test mocks. Working normally now

[2022-05-19 19:01] #399 closed

[2022-05-29 10:02] #389 closed

[2022-07-18 14:38] dthvt opened #404 "Add support for AWS IAM Roles Anywhere"
### Is your feature request related to a problem? Please describe.

Accessing AWS S3 resources with short lived AWS access keys.

### Describe the solution you'd like

Add support for AWS IAM Roles Anywhere.  See https://docs.aws.amazon.com/rolesanywhere/latest/userguide/authentication.html

### Describe alternatives you've considered

We have looked at using assume role w/ instance roles for AWS

[2022-07-22 13:18] ehudon commented on #295
I ran into the same issue with this plugin. I spent a lot of time figuring out what the issue was. I add this comment here in case someone else has the same issue.

The answer lies in how the `time_slice` is being assigned:
https://github.com/fluent/fluent-plugin-s3/blob/89dc6abe4c2e91be4b8ac68bafc190aa0dc01b28/lib/fluent/plugin/out_s3.rb#L279-L287

It takes the timeKey on the chunk and chunks are

[2022-08-09 16:38] nilyin opened #408 "Add parameter to set HTTP "Accept-Encoding" header"
### Is your feature request related to a problem? Please describe.

Some S3 platforms (like Hitachi Content Platform) doesn't accept Accept-Encoding="", which is currently sent by the plugin.
This results to connection error:

<Aws::S3::Errors::InvalidArgument: Unsupported Accept-Encoding specified>"

The more detailed description can be found here:
[https://wiki.dlib.indiana.edu/display/VarVideo/

[2022-08-18 20:39] prabhpreet332 commented on #339
Anyone resolved this issue?

It still doesn't work for me.
I get buffer size of ~900MB in s3 output plugin. Flush interval is 10min.

Any suggestions are welcome.

[2022-08-19 03:15] jychen7 commented on #339
I switch to memory buffer and works well
https://github.com/fluent/fluent-plugin-s3/issues/339#issuecomment-660093235

[2022-09-23 12:14] pieterjanpintens opened #409 "Allow to ignore events that point to a file on s3 of size 0"
### Is your feature request related to a problem? Please describe.

We try to parse ALB logs from AWS. They are pushed to s3.
This is set up by AWS, we don't have any control on this. AWS perform gzip before putting them on s3.

We notice that fluentd sometimes has errors related to these files, complaining that it is not a valid gzipped file.
These events go to sqs dlq eventually. When investigat

[2022-09-23 12:24] pieterjanpintens commented on #409
We also tried the gzip command extractor but that fails too, fixing that one might be easier

[2022-10-03 05:03] #372 closed

[2022-10-04 23:01] PalinuroSec commented on #289
any news on it? we would like to use other s3-compatible object storage providers (wasabi, linode etc) but the s3_endpoint parameter is flagged as deprecated

[2022-10-31 13:46] jatinder10 commented on #339
Disk space of EKS pods are filling fast when we are using fluentd to s3